{
  "swagger": "2.0",
  "info": {
    "title": "Order Service API",
    "version": "1.0",
    "contact": {
      "name": "retail.red API",
      "url": "https://retail.red",
      "email": "mail@retail.red"
    },
    "description": "The retail.red Order API is designed to support all order related functionality including\n* Order Submission (Create)\n* Order Modification (Update / Cancellation)\n* Order Fulfillment (Processing Fulfillment Orders)\n\nThis API leverages the standard retail.red REST API authenication method.\n"
  },
  "host": "order.shopgate.services",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/merchants/{merchantCode}/analytics/fulfillmentOrderStatusCount": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "name": "filters",
          "in": "query",
          "type": "string",
          "format": "json",
          "description": "Filters as json string to be applied. Available filter per status and locationCode."
        }
      ],
      "get": {
        "operationId": "getFulfillmentOrderStatusCount",
        "summary": "Get fulfillment order status count",
        "description": "Get fulfillment order status count",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "orderStatusCount": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "$ref": "#/definitions/FulfillmentOrderStatus"
                      },
                      "count": {
                        "type": "number"
                      }
                    }
                  }
                }
              }
            },
            "examples": {
              "getFulfillmentOrderStatusCount": {
                "orderStatusCount": [
                  {
                    "status": "new",
                    "count": 12
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/analytics/fulfillmentOrderBreakdown/intervals/{interval}": {
      "parameters": [
        {
          "in": "path",
          "required": true,
          "name": "merchantCode",
          "description": "Unique merchant code which represents the unique \"merchant account\".",
          "type": "string"
        },
        {
          "in": "query",
          "name": "timezone",
          "description": "Desired timezone to respresent date / time response",
          "type": "string",
          "default": "Etc/Utc"
        },
        {
          "in": "path",
          "name": "interval",
          "description": "Desired timeframe to include in results",
          "type": "string",
          "enum": [
            "today",
            "yesterday",
            "month"
          ],
          "required": true
        },
        {
          "in": "query",
          "name": "filters",
          "type": "string",
          "format": "json",
          "description": "Filters the result by given filter. Available filters are locationCode and fulfillmentMethod."
        }
      ],
      "get": {
        "operationId": "getFulfillmentOrderBreakdownByIntervals",
        "summary": "Get fulfillment order breakdown by intervals",
        "description": "Get fulfillment order breakdown by intervals",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Returns fulfillment order breakdown",
            "schema": {
              "type": "object",
              "properties": {
                "orderBreakdown": {
                  "type": "object",
                  "properties": {
                    "numberOfOrders": {
                      "type": "number"
                    },
                    "averageNumberOfItems": {
                      "type": "number"
                    },
                    "averageOrderValue": {
                      "type": "number"
                    }
                  }
                }
              }
            },
            "examples": {
              "getFulfillmentOrderBreakdownByIntervals": {
                "orderBreakdown": {
                  "numberOfOrders": 142,
                  "averageNumberOfItems": 3,
                  "averageOrderValue": 42
                }
              }
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/analytics/salesOrderReporting": {
      "parameters": [
        {
          "in": "path",
          "required": true,
          "name": "merchantCode",
          "description": "Unique merchant code which represents the unique \"merchant account\".",
          "type": "string"
        },
        {
          "in": "query",
          "name": "timezone",
          "description": "Desired timezone to respresent date / time response",
          "type": "string",
          "default": "Etc/Utc"
        },
        {
          "in": "query",
          "name": "resolution",
          "description": "Desired group or summary to return results in",
          "default": "day",
          "type": "string",
          "enum": [
            "day",
            "week",
            "month",
            "quarter"
          ]
        },
        {
          "in": "query",
          "name": "filters",
          "type": "string",
          "format": "json",
          "description": "Filter string. Available filters: date, platform, deviceType.\n\nThe date filter is mandatory and has to be located under a first-level $and query.\n\nUse filter types $lte and $gte to filter for a start or end date respectively.\n\nThe date can be the date without the timezone like \"2020-01-01\", in which case the start/end date based on\nthe resolution and timezone passed as query parameters will be used.\n\nIn the case of a full date-time string like \"2020-01-01T00:00:00+01:00\" that will override the timezone\nparameter passed in the query.\n\nIf only the start date ($gte) was passed, the end date will be set to the end of the start date's day.\nIf only the end date ($lte) was passed, the start date will be set to the beginning of the end date's day.\n\nExamples:\n`{\"$and\":[{\"date\":{\"$gte\":\"2021-04-16T00:00:00Z\"}}]}` - results in a search starting at 2021-04-16T00:00:01Z\nand ending 2021-04-16T23:59:59Z.\n`{\"$and\":[{\"date\":{\"$lte\":\"2021-04-16T23:59:59Z\"}}]}` - is equivalent to the above search\n"
        },
        {
          "in": "query",
          "name": "currencyCode",
          "description": "Currency of the total based metrics. Per default the currency from the merchant is used",
          "type": "string",
          "enum": [
            "EUR",
            "USD",
            "CAD",
            "CHF",
            "RUB"
          ]
        }
      ],
      "get": {
        "operationId": "getSalesOrdersReportings",
        "summary": "Get sales orders reportings",
        "description": "Get sales orders reportings",
        "tags": [
          "Analytics"
        ],
        "responses": {
          "200": {
            "description": "Sales orders reporting",
            "schema": {
              "type": "object",
              "properties": {
                "revenue": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ReportingMetric"
                  }
                },
                "numberOfOrders": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ReportingMetric"
                  }
                },
                "averageOrderValue": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ReportingMetric"
                  }
                },
                "averageNumberOfLineItems": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ReportingMetric"
                  }
                },
                "totals": {
                  "type": "object",
                  "properties": {
                    "revenue": {
                      "type": "object",
                      "properties": {
                        "value": {
                          "type": "number",
                          "description": "Total revenue for the given timeperiod in the default currency of the merchant",
                          "example": 350000.01
                        }
                      }
                    },
                    "numberOfOrders": {
                      "type": "object",
                      "description": "Total number of order for the given time period",
                      "properties": {
                        "value": {
                          "type": "number",
                          "example": 150
                        }
                      }
                    }
                  }
                }
              }
            },
            "examples": {
              "getSalesOrdersReportings": {
                "revenue": [
                  {
                    "periodStart": "2020-02-11",
                    "value": 10.7,
                    "breakdown": [
                      {
                        "type": "mobile",
                        "value": 2.5
                      },
                      {
                        "type": "desktop",
                        "value": 5
                      },
                      {
                        "type": "engage",
                        "value": 3.2
                      }
                    ]
                  }
                ],
                "numberOfOrders": [
                  {
                    "periodStart": "2020-02-11",
                    "value": 10.7,
                    "breakdown": [
                      {
                        "type": "mobile",
                        "value": 2.5
                      },
                      {
                        "type": "desktop",
                        "value": 5
                      },
                      {
                        "type": "engage",
                        "value": 3.2
                      }
                    ]
                  }
                ],
                "averageOrderValue": [
                  {
                    "periodStart": "2020-02-11",
                    "value": 10.7,
                    "breakdown": [
                      {
                        "type": "mobile",
                        "value": 2.5
                      },
                      {
                        "type": "desktop",
                        "value": 5
                      },
                      {
                        "type": "engage",
                        "value": 3.2
                      }
                    ]
                  }
                ],
                "averageNumberOfLineItems": [
                  {
                    "periodStart": "2020-02-11",
                    "value": 10.7,
                    "breakdown": [
                      {
                        "type": "mobile",
                        "value": 2.5
                      },
                      {
                        "type": "desktop",
                        "value": 5
                      },
                      {
                        "type": "engage",
                        "value": 3.2
                      }
                    ]
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/orders": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        }
      ],
      "get": {
        "operationId": "getSalesOrders",
        "summary": "Get sales orders",
        "description": "Get sales orders",
        "tags": [
          "SalesOrder"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "filters",
            "type": "string",
            "description": "Filter string. Supported filters: orderNumber, externalCode, name, customerId, status"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Available fields: lineItems",
            "format": "csv",
            "type": "string"
          },
          {
            "name": "includeInternalIds",
            "description": "The entity gets extended with the internal ID of retail.red, this query cannot be used by external clients.",
            "in": "query",
            "type": "boolean",
            "default": false
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "Return sales orders",
            "schema": {
              "type": "object",
              "properties": {
                "orders": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SimpleSalesOrder"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/Pagination"
                }
              }
            },
            "examples": {
              "getSalesOrders": {
                "orders": [
                  {
                    "orderNumber": "1293747",
                    "shopCode": "shop_12345",
                    "externalCode": "000000274",
                    "type": "standard",
                    "customerId": "55c98b8e-1100-497c-8df6-4b4f0353ab2a",
                    "externalCustomerNumber": "C1756793",
                    "status": "new",
                    "expedited": false,
                    "localeCode": "de-de",
                    "currencyCode": "EUR",
                    "taxExempt": false,
                    "notes": "Some note",
                    "specialInstructions": "House behind the dumpster",
                    "data": {},
                    "fulfillmentStatus": "open",
                    "primaryBillToAddressSequenceIndex": 0,
                    "primaryShipToAddressSequenceIndex": 0,
                    "addressSequences": [
                      {
                        "type": "shipping",
                        "customerContactId": "0b475af4-7ed9-4065-b4bb-7d76c537d820",
                        "firstName": "Max",
                        "middleName": "René",
                        "lastName": "Muster",
                        "company": "Shopgate GmbH",
                        "address1": "Schloßstr. 10",
                        "address2": "Haus B",
                        "address3": "erste Etage",
                        "address4": null,
                        "city": "Butzbach",
                        "region": "HE",
                        "postalCode": "35510",
                        "country": "DE",
                        "phone": "+49 12345 6789 001",
                        "fax": "+49 12345 6789 002",
                        "mobile": "+49 12345 6789 003",
                        "emailAddress": "max.muster@shopgate.com",
                        "orderSegment": {
                          "selectedShippingMethod": {
                            "code": "standardShipping",
                            "serviceLevel": {
                              "code": "standard",
                              "carrier": {
                                "code": "DHL",
                                "name": "DHL International"
                              },
                              "name": "DHL Standard",
                              "cost": 4.99,
                              "iconUrl": "https://myserver.com/DHL.png"
                            },
                            "name": "Standard Shipping"
                          },
                          "availableShippingMethods": [
                            {
                              "code": "standardShipping",
                              "name": "Standard Shipping",
                              "serviceLevels": [
                                {
                                  "code": "string",
                                  "name": "DHL Standard",
                                  "cost": 4.99,
                                  "iconUrl": "https://myserver.com/DHL.png",
                                  "carrier": {
                                    "code": "DHL",
                                    "name": "DHL International"
                                  }
                                }
                              ]
                            }
                          ]
                        }
                      }
                    ],
                    "subTotal": 65.99,
                    "discountAmount": 0,
                    "promoAmount": 0,
                    "taxAmount": 12.54,
                    "tax2Amount": 0,
                    "shippingSubTotal": 4.99,
                    "shippingDiscountAmount": 0,
                    "shippingPromoAmount": 0,
                    "shippingTotal": 4.99,
                    "taxSummary": [
                      {
                        "code": "default_19",
                        "name": "19%",
                        "amount": 12.54
                      }
                    ],
                    "total": 70.98,
                    "date": "2021-12-16T16:05:21.342Z",
                    "submitDate": "2019-09-02T09:02:57.733Z",
                    "completeDate": "2019-09-03T15:02:57.733Z",
                    "sourceIp": "85.45.62.2",
                    "userAgent": "Mozilla/5.0 (Android 4.4; Mobile; rv:41.0) Gecko/41.0 Firefox/41.0",
                    "domain": "www.mydomain.com",
                    "platform": "engage",
                    "os": "ios",
                    "imported": false,
                    "campaignAttribution": {
                      "campaignCode": "CMP-1",
                      "channel": "push",
                      "distributionIndex": 0
                    },
                    "lineItemCount": 1
                  }
                ],
                "meta": {
                  "limit": 100,
                  "offset": 0,
                  "totalItemCount": 1
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSalesOrders",
        "summary": "Create sales orders",
        "description": "Create sales orders",
        "tags": [
          "SalesOrder"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "orders"
              ],
              "properties": {
                "orders": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PostSalesOrder"
                  }
                }
              }
            },
            "x-examples": {
              "createSalesOrders - minimal": {
                "orders": [
                  {
                    "shopCode": "shop_12345",
                    "customerId": "35b0ec35-eba4-4d71-bf92-d43ed8d72282",
                    "localeCode": "de-de",
                    "currencyCode": "EUR",
                    "status": "open",
                    "addressSequences": [
                      {
                        "type": "shipping",
                        "firstName": "CustomerFirstName",
                        "lastName": "CustomerLastName",
                        "emailAddress": "max.muster@shopgate.com",
                        "orderSegment": {
                          "selectedShippingMethod": {
                            "code": "standardShipping",
                            "serviceLevel": {
                              "code": "standard",
                              "carrier": {
                                "code": "DHL"
                              }
                            }
                          }
                        }
                      }
                    ],
                    "primaryBillToAddressSequenceIndex": 0,
                    "primaryShipToAddressSequenceIndex": 0,
                    "lineItems": [
                      {
                        "code": "someSelfDefinedCode",
                        "quantity": 1,
                        "fulfillmentMethod": "directShip",
                        "fulfillmentLocationCode": "MyLocationCode",
                        "shipToAddressSequenceIndex": 0,
                        "product": {
                          "code": "24-MB02",
                          "name": "Fusion Backpack",
                          "price": 79.99,
                          "currencyCode": "EUR"
                        },
                        "currencyCode": "EUR",
                        "price": 79.99,
                        "extendedPrice": 79.99
                      }
                    ],
                    "subTotal": 79.99,
                    "total": 79.99,
                    "submitDate": "2021-12-20T11:50:56.067Z"
                  }
                ]
              },
              "createSalesOrders": {
                "orders": [
                  {
                    "shopCode": "shop_12345",
                    "customerId": "35b0ec35-eba4-4d71-bf92-d43ed8d72282",
                    "localeCode": "de-de",
                    "currencyCode": "EUR",
                    "status": "open",
                    "addressSequences": [
                      {
                        "type": "billing",
                        "firstName": "Max",
                        "middleName": "René",
                        "lastName": "Muster",
                        "company": "Shopgate GmbH",
                        "address1": "Schloßstr. 10",
                        "address2": "Haus B",
                        "address3": "erste Etage",
                        "address4": null,
                        "city": "Butzbach",
                        "region": "HE",
                        "postalCode": "35510",
                        "country": "DE",
                        "phone": "+49 12345 6789 001",
                        "fax": "+49 12345 6789 002",
                        "mobile": "+49 12345 6789 003",
                        "emailAddress": "max.muster@shopgate.com"
                      },
                      {
                        "type": "shipping",
                        "firstName": "Max",
                        "middleName": "René",
                        "lastName": "Muster",
                        "company": "Shopgate GmbH",
                        "address1": "Schloßstr. 10",
                        "address2": "Haus B",
                        "address3": "erste Etage",
                        "address4": null,
                        "city": "Butzbach",
                        "region": "HE",
                        "postalCode": "35510",
                        "country": "DE",
                        "phone": "+49 12345 6789 001",
                        "fax": "+49 12345 6789 002",
                        "mobile": "+49 12345 6789 003",
                        "emailAddress": "max.muster@shopgate.com",
                        "orderSegment": {
                          "selectedShippingMethod": {
                            "code": "standardShipping",
                            "serviceLevel": {
                              "code": "standard",
                              "carrier": {
                                "code": "DHL"
                              }
                            }
                          }
                        }
                      }
                    ],
                    "primaryBillToAddressSequenceIndex": 0,
                    "primaryShipToAddressSequenceIndex": 1,
                    "lineItems": [
                      {
                        "code": "someSelfDefinedCode",
                        "quantity": 1,
                        "fulfillmentMethod": "directShip",
                        "fulfillmentLocationCode": "BUBA",
                        "shipToAddressSequenceIndex": 1,
                        "product": {
                          "code": "24-MB02",
                          "name": "Fusion Backpack",
                          "price": 79.99,
                          "image": "https://shopgatedevcloud-omni-merchant-development.s3.amazonaws.com/FUSION/shop_31904/productPlaceholder.png",
                          "currencyCode": "EUR"
                        },
                        "currencyCode": "EUR",
                        "price": 79.99,
                        "salePrice": 65.99,
                        "extendedPrice": 65.99
                      }
                    ],
                    "subTotal": 65.99,
                    "total": 65.99,
                    "submitDate": "2021-12-20T11:50:56.067Z"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/definitions/BatchErrors"
                }
              ],
              "properties": {
                "orderNumbers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/orders/{orderNumber}": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        },
        {
          "name": "includeInternalIds",
          "description": "The entity gets extended with the internal ID of retail.red, this query cannot be used by external clients.",
          "in": "query",
          "type": "boolean",
          "default": false
        },
        {
          "name": "fields",
          "description": "List of specific fields or groups to return. Possible values are: customer, orderUrl, isOrderable\n",
          "in": "query",
          "type": "string"
        },
        {
          "$ref": "#/parameters/OriginalImages"
        }
      ],
      "get": {
        "operationId": "getSalesOrder",
        "summary": "Get sales order",
        "description": "Get sales order",
        "tags": [
          "SalesOrder"
        ],
        "responses": {
          "200": {
            "description": "Return sales order",
            "schema": {
              "type": "object",
              "properties": {
                "order": {
                  "$ref": "#/definitions/GetSalesOrder"
                }
              }
            },
            "examples": {
              "getSalesOrder": {
                "order": {
                  "orderNumber": "1293747",
                  "shopCode": "shop_12345",
                  "externalCode": "000000274",
                  "type": "standard",
                  "customerId": "55c98b8e-1100-497c-8df6-4b4f0353ab2a",
                  "externalCustomerNumber": "C1756793",
                  "status": "new",
                  "expedited": false,
                  "localeCode": "de-de",
                  "currencyCode": "EUR",
                  "taxExempt": false,
                  "notes": "Some note",
                  "specialInstructions": "House behind the dumpster",
                  "data": {},
                  "fulfillmentStatus": "open",
                  "primaryBillToAddressSequenceIndex": 0,
                  "primaryShipToAddressSequenceIndex": 0,
                  "addressSequences": [
                    {
                      "type": "shipping",
                      "customerContactId": "0b475af4-7ed9-4065-b4bb-7d76c537d820",
                      "firstName": "Max",
                      "middleName": "René",
                      "lastName": "Muster",
                      "company": "Shopgate GmbH",
                      "address1": "Schloßstr. 10",
                      "address2": "Haus B",
                      "address3": "erste Etage",
                      "address4": null,
                      "city": "Butzbach",
                      "region": "HE",
                      "postalCode": "35510",
                      "country": "DE",
                      "phone": "+49 12345 6789 001",
                      "fax": "+49 12345 6789 002",
                      "mobile": "+49 12345 6789 003",
                      "emailAddress": "max.muster@shopgate.com",
                      "orderSegment": {
                        "selectedShippingMethod": {
                          "code": "standardShipping",
                          "serviceLevel": {
                            "code": "standard",
                            "carrier": {
                              "code": "DHL",
                              "name": "DHL International"
                            },
                            "name": "DHL Standard",
                            "cost": 4.99,
                            "iconUrl": "https://myserver.com/DHL.png"
                          },
                          "name": "Standard Shipping"
                        },
                        "availableShippingMethods": [
                          {
                            "code": "standardShipping",
                            "name": "Standard Shipping",
                            "serviceLevels": [
                              {
                                "code": "string",
                                "name": "DHL Standard",
                                "cost": 4.99,
                                "iconUrl": "https://myserver.com/DHL.png",
                                "carrier": {
                                  "code": "DHL",
                                  "name": "DHL International"
                                }
                              }
                            ]
                          }
                        ]
                      }
                    }
                  ],
                  "subTotal": 65.99,
                  "discountAmount": 0,
                  "promoAmount": 6.6,
                  "taxAmount": 0,
                  "tax2Amount": 0,
                  "shippingSubTotal": 4.99,
                  "shippingDiscountAmount": 0,
                  "shippingPromoAmount": 0,
                  "shippingTotal": 0,
                  "taxSummary": [
                    {
                      "code": "default_19",
                      "name": "19%",
                      "amount": 11.28
                    }
                  ],
                  "total": 59.39,
                  "date": "2021-12-16T16:17:47.929Z",
                  "submitDate": "2019-09-02T09:02:57.733Z",
                  "completeDate": "2019-09-03T15:02:57.733Z",
                  "sourceIp": "85.45.62.2",
                  "userAgent": "Mozilla/5.0 (Android 4.4; Mobile; rv:41.0) Gecko/41.0 Firefox/41.0",
                  "domain": "www.mydomain.com",
                  "platform": "engage",
                  "os": "ios",
                  "imported": false,
                  "campaignAttribution": {
                    "campaignCode": "CMP-1",
                    "channel": "push",
                    "distributionIndex": 0
                  },
                  "lineItemCount": 1,
                  "paymentTransactions": [
                    {
                      "id": "edadf6a6-f536-489f-92b8-c15fc1edc19b",
                      "externalCode": "pi_GTS8a787uuRMaC86GBxpDABYn",
                      "status": "failed",
                      "type": "order",
                      "paymentMethod": {
                        "code": "stripe",
                        "type": "cc",
                        "provider": "stripe"
                      },
                      "authorizedAmount": 59.39,
                      "chargedAmount": 0,
                      "checkoutParams": {
                        "paymentIntent": "geosjhgirhgsigpr"
                      },
                      "paymentError": {
                        "message": "Your card has insufficient funds",
                        "code": "card_declined"
                      },
                      "paymentInfo": {
                        "type": "cc",
                        "card": {
                          "type": "visa",
                          "last4": 4242
                        }
                      }
                    }
                  ],
                  "fulfillmentGroups": [
                    {
                      "id": 648,
                      "fulfillmentMethod": "directShip",
                      "fulfillmentLocationCode": "string",
                      "shipToAddressSequenceIndex": 0,
                      "fulfillments": [
                        {
                          "status": "open",
                          "carrier": "DHL",
                          "serviceLevel": "sameDay",
                          "tracking": "JJD000390007882823450",
                          "fulfillmentPackages": [
                            {
                              "status": "open",
                              "serviceLevel": "sameDay",
                              "package": "small",
                              "fulfilledFromLocationCode": "DERetail001",
                              "weight": 2000,
                              "weightUnit": "g",
                              "dimensions": {
                                "length": 25,
                                "lengthUnit": "cm",
                                "width": 17.5,
                                "widthUnit": "cm",
                                "height": 10,
                                "heightUnit": "cm"
                              },
                              "tracking": "JJD000390007882823450",
                              "pickUpBy": "Kim Muster",
                              "labelUrl": "https://documentserver.internal/label/label.pdf",
                              "fulfillmentDate": "2021-12-16T16:17:47.929Z",
                              "packageItems": [
                                {
                                  "salesOrderLineItemCode": "386",
                                  "quantity": 1,
                                  "id": 457
                                }
                              ],
                              "id": 694,
                              "additionalProp1": {}
                            }
                          ],
                          "id": 981
                        }
                      ]
                    }
                  ],
                  "coupons": [
                    {
                      "code": "SUMMER2020",
                      "name": "Coupon for Summer 2020",
                      "limits": {
                        "overall": 500,
                        "maxPerCustomer": 1
                      },
                      "status": "active",
                      "couponSet": null,
                      "promotion": {
                        "code": "promo",
                        "name": "Promo with Coupon"
                      }
                    }
                  ],
                  "lineItems": [
                    {
                      "quantityChangeReason": "wrongItem",
                      "status": "inProgress",
                      "subStatus": null,
                      "code": "386",
                      "quantity": 1,
                      "routedQuantity": 1,
                      "fulfillmentMethod": "directShip",
                      "fulfillmentLocationCode": "DERetail001",
                      "shipToAddressSequenceIndex": 0,
                      "product": {
                        "code": "24-MB02",
                        "name": "Fusion Backpack",
                        "image": "https://myawesomeshop.com/images/img1.jpg",
                        "price": 79.99,
                        "salePrice": 65.99,
                        "currencyCode": "EUR",
                        "identifiers": {
                          "mfgPartNum": "100-440-0.750-3434-A",
                          "upc": "72527273070",
                          "ean": "401234567890",
                          "isbn": "978-3-16-148410-0",
                          "sku": "UGG-BB-PUR-06",
                          "distiPartNum": "235454356363"
                        },
                        "options": [
                          {
                            "code": "color",
                            "name": "Color",
                            "value": {
                              "code": "red",
                              "name": "Red"
                            }
                          }
                        ]
                      },
                      "currencyCode": "EUR",
                      "shippingAmount": 0,
                      "taxAmount": 0,
                      "tax2Amount": 0,
                      "taxExempt": false,
                      "unitPromoAmount": 0,
                      "unitDiscountAmount": 0,
                      "discountAmount": 0,
                      "promoAmount": 0,
                      "overrideAmount": 0,
                      "extendedPrice": 65.99,
                      "price": 79.99,
                      "salePrice": 65.99,
                      "substitutionAllowed": true,
                      "fulfillmentSlot": {
                        "id": "5_2019-09-03",
                        "date": "2019-09-03",
                        "weekday": "fri",
                        "from": "08:00",
                        "to": "08:59",
                        "status": "active",
                        "orderCount": 10
                      },
                      "appliedPromotions": []
                    }
                  ],
                  "appliedPromotions": [
                    {
                      "code": "2020summerPromotion",
                      "name": "Summer Promotion for 2020",
                      "model": "simpleDiscount",
                      "description": "This promotion is for our summer coupons",
                      "promotionalText": "This coupons gives you 10% off to celebrate the summer 2020",
                      "status": "active",
                      "startDate": "2020-07-01T00:00:000",
                      "endDate": "2020-07-01T00:00:000",
                      "target": "order",
                      "discount": {
                        "type": "percentage",
                        "amount": 10
                      },
                      "conditions": {
                        "$and": [
                          {
                            "subTotal": {
                              "gte": 100
                            }
                          },
                          {
                            "$or": [
                              {
                                "fulfillmentMethod": {
                                  "$in": [
                                    "directShip",
                                    "BOPIS",
                                    "ROPIS"
                                  ]
                                }
                              },
                              {
                                "customer.segment.code": {
                                  "$in": [
                                    "employees",
                                    "contractors"
                                  ]
                                }
                              }
                            ]
                          }
                        ]
                      },
                      "impact": {
                        "conditions": {
                          "lineItem.product.categoryCode": {
                            "$in": [
                              "backpacks"
                            ]
                          },
                          "lineItem.quantity": 1
                        },
                        "automaticallyAddedToCart": false
                      },
                      "coupon": {
                        "code": "summer2020",
                        "name": "Coupon 10off for the summer 2020",
                        "limits": {
                          "overall": 10,
                          "maxPerCustomer": null
                        }
                      },
                      "couponSet": null,
                      "limitConditions": {
                        "maxOverallUsageCount": 100,
                        "maxCustomerUsageCount": 1,
                        "maxUsagePerOrder": 1,
                        "cantBeCombinedWithPromotionCode": {
                          "$in": [
                            "bogo1"
                          ]
                        }
                      }
                    }
                  ],
                  "fulfillmentSlots": {
                    "id": "5_2019-09-03",
                    "date": "2019-09-03",
                    "weekday": "fri",
                    "from": "08:00",
                    "to": "08:59",
                    "status": "active",
                    "orderCount": 10
                  },
                  "customer": {
                    "id": "d162439c-e2f9-4050-8b94-6bff33e8163b",
                    "internalCustomerNumber": 2,
                    "externalCustomerNumber": "10001",
                    "firstName": "Max",
                    "middleName": "René",
                    "lastName": "Muster",
                    "emailAddress": "max.muster@shopgate.com",
                    "status": "active",
                    "isAnonymous": true,
                    "externalUpdateDate": "2021-12-16T16:17:47.929Z",
                    "taxExempt": false,
                    "taxClass": "string",
                    "contacts": [
                      {
                        "id": "55a94ee0-6671-11e9-bb49-13684cb7b248",
                        "externalContactCode": "357709b0-9378-470b-976e-1b040e29b97b",
                        "status": "active",
                        "firstName": "Max",
                        "middleName": "René",
                        "lastName": "Muster",
                        "companyName": "Shopgate GmbH",
                        "address1": "Schloßstr. 10",
                        "address2": "Haus B",
                        "address3": "erste Etage",
                        "address4": null,
                        "city": "Butzbach",
                        "postalCode": "35510",
                        "region": "HE",
                        "country": "DE",
                        "phone": "+49 12345 6789 001",
                        "fax": "+49 12345 6789 002",
                        "mobile": "+49 12345 6789 003",
                        "emailAddress": "max.muster@shopgate.com",
                        "isDefaultBilling": true,
                        "isDefaultShipping": true,
                        "externalUpdateDate": "2021-12-16T16:17:47.929Z"
                      }
                    ],
                    "attributes": [
                      {
                        "code": "tshirtSize",
                        "name": "T-Shirt Size",
                        "value": {
                          "code": "l",
                          "name": "L"
                        }
                      },
                      {
                        "code": "nameOfCat",
                        "name": "Name of your cat",
                        "value": "Some Cat Name"
                      }
                    ],
                    "settings": {
                      "defaultLocale": "de-de",
                      "defaultCurrency": "EUR",
                      "communicationPreferences": [
                        "email",
                        "push",
                        "sms"
                      ],
                      "defaultLocationCode": "DERetail001",
                      "marketingOptIn": false
                    }
                  },
                  "isOrderable": true
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "updateSalesOrder",
        "summary": "Update sales order",
        "description": "Update sales order",
        "tags": [
          "SalesOrder"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSalesOrder"
            },
            "x-examples": {
              "updateSalesOrder": {
                "notes": "Some note",
                "specialInstructions": "House behind the dumpster",
                "data": {
                  "collectedLoyaltyPoints": 10
                },
                "status": "open",
                "addressSequences": [
                  {
                    "type": "shipping",
                    "firstName": "Max",
                    "middleName": null,
                    "lastName": "Muster",
                    "company": "Awesome Company Inc",
                    "address1": "Hauptstraße 1234",
                    "city": "Butzbach",
                    "region": "HE",
                    "postalCode": "35510",
                    "country": "DE",
                    "mobile": "+49 12345 6789 003",
                    "emailAddress": "max.muster@shopgate.com"
                  }
                ],
                "paymentTransactions": [
                  {
                    "externalCode": "pi_GTS8a787uuRMaC86GBxpDABYn",
                    "paymentMethod": {
                      "code": "stripe"
                    },
                    "authorizedAmount": 59.39
                  }
                ],
                "primaryBillToAddressSequenceIndex": 0,
                "primaryShipToAddressSequenceIndex": 1,
                "sourceIp": "85.45.62.2",
                "userAgent": "Mozilla/5.0 (Android 4.4; Mobile; rv:41.0) Gecko/41.0 Firefox/41.0",
                "domain": "www.mydomain.com",
                "platform": "engage",
                "os": "ios",
                "customer": {
                  "attributes": [
                    {
                      "code": "tshirtSize",
                      "value": "L"
                    }
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Sales order updated"
          },
          "400": {
            "description": "Bad request 'addressSequences' validation failed.",
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/definitions/BatchErrors"
                }
              ]
            }
          }
        }
      },
      "delete": {
        "x-internal": true,
        "summary": "Delete sales order",
        "tags": [
          "SalesOrder"
        ],
        "description": "[Internal] Deletes sales order if the status is new",
        "responses": {
          "204": {
            "description": "Sales order removed"
          }
        }
      }
    },
    "/merchants/{merchantCode}/orders/{orderNumber}/id": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        }
      ],
      "get": {
        "operationId": "getSalesOrderId",
        "summary": "Get id of sales order",
        "description": "Get id of sales order",
        "x-internal": true,
        "tags": [
          "SalesOrder"
        ],
        "responses": {
          "200": {
            "description": "Return sales order id",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                }
              }
            },
            "examples": {
              "getSalesOrderId": {
                "id": "f0c9d0d1-99ab-44b0-b33c-6e26f0c1bf04"
              }
            }
          },
          "404": {
            "description": "Order not found"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/orders/{orderNumber}/history": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        }
      ],
      "get": {
        "operationId": "getSalesOrderHistory",
        "summary": "Get history of sales order",
        "description": "Get history of sales order",
        "tags": [
          "SalesOrder"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "type": "string",
            "format": "json",
            "description": "Filters as json string to be applied. Available filter is type."
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "description": "Sorting of order history."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the history",
            "examples": {
              "getSalesOrderHistory": {
                "history": [
                  {
                    "type": "orderStatusUpdated",
                    "id": 468,
                    "details": "string",
                    "entityId": 0,
                    "newValue": {
                      "status": "checkedIn"
                    },
                    "oldValue": {
                      "status": "ready"
                    },
                    "createDate": "2021-12-16T16:31:47.118Z",
                    "user": {
                      "name": "Max Muster",
                      "id": "237e228f-c1d0-4bb7-898d-14a5aa1ea955"
                    }
                  }
                ]
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "history": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SalesOrderHistoryItem"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Sales order not found"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/orders/{orderNumber}/checkout": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        }
      ],
      "post": {
        "operationId": "createSalesOrderCheckout",
        "summary": "Create sales order checkout",
        "description": "Create sales order checkout",
        "tags": [
          "SalesOrder"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "campaignAttribution": {
                  "$ref": "#/definitions/CampaignAttribution"
                },
                "paymentTransactions": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "edadf6a6-f536-489f-92b8-c15fc1edc19b"
                      },
                      "checkoutParams": {
                        "type": "object",
                        "description": "Params provided by the frontend element of the provider. Can contian sensible data",
                        "example": {
                          "paymentIntentId": "pi_test_23tz4hrdpgjseroh"
                        }
                      }
                    }
                  }
                },
                "sourceIp": {
                  "$ref": "#/definitions/SourceIP"
                },
                "userAgent": {
                  "$ref": "#/definitions/UserAgent"
                },
                "domain": {
                  "$ref": "#/definitions/Domain"
                },
                "platform": {
                  "$ref": "#/definitions/Platform"
                },
                "os": {
                  "$ref": "#/definitions/OS"
                }
              }
            },
            "x-examples": {
              "createSalesOrderCheckout": {
                "campaignAttribution": {
                  "campaignCode": "CMP-1",
                  "channel": "push",
                  "distributionIndex": 0
                },
                "paymentTransactions": [
                  {
                    "id": "edadf6a6-f536-489f-92b8-c15fc1edc19b",
                    "checkoutParams": {
                      "paymentIntentId": "pi_test_23tz4hrdpgjseroh"
                    }
                  }
                ],
                "sourceIp": "85.45.62.2",
                "userAgent": "Mozilla/5.0 (Android 4.4; Mobile; rv:41.0) Gecko/41.0 Firefox/41.0",
                "domain": "www.mydomain.com",
                "platform": "engage",
                "os": "ios"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Checkout success"
          },
          "404": {
            "description": "Merchant of order not found"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/orders/{orderNumber}/fulfillmentGroups": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        }
      ],
      "post": {
        "operationId": "createSalesOrderFulfillmentGroups",
        "summary": "Create sales order fulfillment groups",
        "description": "Create sales order fulfillment groups",
        "tags": [
          "SalesOrder"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "fulfillmentGroups": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PostFulfillmentGroup"
                  }
                }
              }
            },
            "x-examples": {
              "createSalesOrderFulfillmentGroups": {
                "fulfillmentGroups": [
                  {
                    "fulfillmentMethod": "directShip",
                    "fulfillmentLocationCode": "string",
                    "shipToAddressSequenceIndex": 0,
                    "fulfillments": [
                      {
                        "status": "open",
                        "carrier": "DHL",
                        "serviceLevel": "sameDay",
                        "tracking": "JJD000390007882823450",
                        "fulfillmentPackages": [
                          {
                            "status": "open",
                            "serviceLevel": "sameDay",
                            "package": "small",
                            "fulfilledFromLocationCode": "DERetail001",
                            "weight": 2000,
                            "weightUnit": "g",
                            "dimensions": {
                              "length": 25,
                              "lengthUnit": "cm",
                              "width": 17.5,
                              "widthUnit": "cm",
                              "height": 10,
                              "heightUnit": "cm"
                            },
                            "tracking": "JJD000390007882823450",
                            "pickUpBy": "Kim Muster",
                            "labelUrl": "https://documentserver.internal/label/label.pdf",
                            "fulfillmentDate": "2021-12-16T16:35:45.833Z",
                            "packageItems": [
                              {
                                "salesOrderLineItemCode": "386",
                                "quantity": 1
                              }
                            ],
                            "additionalProp1": {}
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Fulfillments created",
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "example": 100
                  }
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/BatchError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/fulfillmentOrders": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        }
      ],
      "get": {
        "operationId": "getFulfillmentOrders",
        "summary": "Get fulfillment orders",
        "description": "Get fulfillment orders",
        "tags": [
          "FulfillmentOrder"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "filters",
            "type": "string",
            "description": "Filter string. Available filter: locationCode, status, orderNumber, externalCode, name, billingName, customerId, salesOrderNumber, completeDate, readyDate, pickupReminderApplicableAt, holdUntil, plannedFulfillmentDate, pickupReminderApplicableAt, type, pickingBatchId"
          },
          {
            "name": "includeInternalIds",
            "description": "The entity gets extended with the internal ID of retail.red, this query cannot be used by external clients.",
            "in": "query",
            "type": "boolean",
            "default": false
          },
          {
            "in": "query",
            "name": "fields",
            "description": "Available fields: fulfillmentOrderAddress, lineItems",
            "format": "csv",
            "type": "string"
          },
          {
            "$ref": "#/parameters/Sort"
          },
          {
            "$ref": "#/parameters/limit"
          },
          {
            "$ref": "#/parameters/offset"
          },
          {
            "name": "getOriginalImageUrls",
            "in": "query",
            "type": "boolean",
            "description": "Request original image URLs for LineItem product images.",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "getFulfillmentOrders": {
                "fulfillmentOrders": [
                  {
                    "orderNumber": "1293747-0001",
                    "externalCode": "000000274",
                    "posTransactionId": "528a-1",
                    "cancellationReason": "expired",
                    "heldUntil": "2019-10-05T09:02:57.733Z",
                    "pickupReminderApplicableAt": "2019-09-02T09:02:57.733Z",
                    "salesOrderNumber": "1293747",
                    "locationCode": "DERetail001",
                    "type": "directShip",
                    "customerId": "55c98b8e-1100-497c-8df6-4b4f0353ab2a",
                    "externalCustomerNumber": "C1756793",
                    "routeType": "standardDirectShip",
                    "expedited": true,
                    "status": "new",
                    "subTotal": 65.99,
                    "taxAmount": 12.54,
                    "tax2Amount": 0,
                    "total": 65.99,
                    "shippingTotal": 0,
                    "localeCode": "de-de",
                    "currencyCode": "EUR",
                    "notes": "Some note",
                    "specialInstructions": "House behind the dumpster",
                    "scheduledPickupTime": "2019-09-03T08:00:00Z",
                    "submitDate": "2019-09-02T09:02:57.733Z",
                    "acceptDate": "2019-09-02T14:02:57.733Z",
                    "readyDate": "2019-09-02T14:03:57.733Z",
                    "completeDate": "2019-09-03T15:02:57.733Z",
                    "fulfillmentOrderAddress": {
                      "orderIndex": 0,
                      "type": "pickup",
                      "firstName": "Max",
                      "middleName": "René",
                      "lastName": "Muster",
                      "company": "Shopgate GmbH",
                      "address1": "12 Somestree",
                      "address2": "Haus B",
                      "address3": "erste Etage",
                      "address4": null,
                      "city": "Butzbach",
                      "region": "HE",
                      "postalCode": "35510",
                      "country": "DE",
                      "phone": "+49 12345 6789 001",
                      "fax": "+49 12345 6789 002",
                      "mobile": "+49 12345 6789 003",
                      "emailAddress": "max.muster@shopgate.com"
                    }
                  }
                ],
                "meta": {
                  "pagination": {
                    "limit": 100,
                    "offset": 0,
                    "totalItemCount": 1
                  }
                }
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "fulfillmentOrders": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SimpleFulfillmentOrder"
                  }
                },
                "meta": {
                  "type": "object",
                  "properties": {
                    "pagination": {
                      "$ref": "#/definitions/Pagination"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Merchant not found"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "createFulfillmentOrders",
        "summary": "Create fulfillment orders",
        "description": "Create fulfillment orders",
        "tags": [
          "FulfillmentOrder"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "fulfillmentOrders"
              ],
              "properties": {
                "fulfillmentOrders": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PostFulfillmentOrder"
                  }
                }
              }
            },
            "x-examples": {
              "createFulfillmentOrders - minimal": {
                "fulfillmentOrders": [
                  {
                    "salesOrderNumber": "3",
                    "locationCode": "ST01",
                    "customerId": "55c98b8e-1100-497c-8df6-4b4f0353ab2a",
                    "channel": {
                      "code": "USRTL"
                    },
                    "type": "directShip",
                    "routeType": "standardDirectShip",
                    "subTotal": 65.99,
                    "total": 65.99,
                    "localeCode": "de-de",
                    "currencyCode": "EUR",
                    "fulfillmentOrderAddress": {
                      "orderIndex": 0,
                      "type": "shipping",
                      "firstName": "Max",
                      "lastName": "Muster",
                      "emailAddress": "max.muster@shopgate.com"
                    },
                    "fulfillments": [
                      {
                        "status": "open",
                        "fulfillmentPackages": [
                          {
                            "packageItems": [
                              {
                                "salesOrderLineItemCode": "someSelfDefinedCode",
                                "quantity": 1
                              }
                            ]
                          }
                        ]
                      }
                    ],
                    "lineItems": [
                      {
                        "salesOrderLineItemCode": "someSelfDefinedCode",
                        "quantity": 1,
                        "currencyCode": "EUR",
                        "taxExempt": false,
                        "salePrice": 65.99,
                        "price": 79.99,
                        "extendedPrice": 65.99,
                        "product": {
                          "code": "24-MB02",
                          "name": "Fusion Backpack",
                          "price": 65.99,
                          "currencyCode": "EUR",
                          "options": [
                            {
                              "code": "color",
                              "name": "Color",
                              "value": {
                                "code": "red",
                                "name": "Red"
                              }
                            }
                          ]
                        },
                        "substitutionAllowed": true
                      }
                    ]
                  }
                ]
              },
              "createFulfillmentOrders": {
                "fulfillmentOrders": [
                  {
                    "orderNumber": "1293747-0001",
                    "externalCode": "000000274",
                    "salesOrderNumber": "1293747",
                    "locationCode": "DERetail001",
                    "customerId": "55c98b8e-1100-497c-8df6-4b4f0353ab2a",
                    "externalCustomerNumber": "C1756793",
                    "channel": {
                      "code": "USRTL"
                    },
                    "type": "directShip",
                    "routeType": "standardDirectShip",
                    "status": "new",
                    "sequenceId": 0,
                    "expedited": true,
                    "subTotal": 65.99,
                    "taxAmount": 12.54,
                    "tax2Amount": 0,
                    "shippingTotal": 0,
                    "total": 65.99,
                    "localeCode": "de-de",
                    "currencyCode": "EUR",
                    "notes": "Some note",
                    "specialInstructions": "House behind the dumpster",
                    "fulfillmentOrderAddress": {
                      "orderIndex": 0,
                      "type": "shipping",
                      "firstName": "Max",
                      "middleName": "René",
                      "lastName": "Muster",
                      "company": "Shopgate GmbH",
                      "address1": "12 Somestree",
                      "address2": "Haus B",
                      "address3": "erste Etage",
                      "address4": null,
                      "city": "Butzbach",
                      "region": "HE",
                      "postalCode": "35510",
                      "country": "DE",
                      "phone": "+49 12345 6789 001",
                      "fax": "+49 12345 6789 002",
                      "mobile": "+49 12345 6789 003",
                      "emailAddress": "max.muster@shopgate.com"
                    },
                    "fulfillments": [
                      {
                        "status": "open",
                        "carrier": "DHL",
                        "serviceLevel": "sameDay",
                        "tracking": "JJD000390007882823450",
                        "fulfillmentPackages": [
                          {
                            "status": "open",
                            "serviceLevel": "sameDay",
                            "package": "small",
                            "fulfilledFromLocationCode": "DERetail001",
                            "weight": 2000,
                            "weightUnit": "g",
                            "dimensions": {
                              "length": 25,
                              "lengthUnit": "cm",
                              "width": 17.5,
                              "widthUnit": "cm",
                              "height": 10,
                              "heightUnit": "cm"
                            },
                            "tracking": "JJD000390007882823450",
                            "pickUpBy": "Kim Muster",
                            "labelUrl": "https://documentserver.internal/label/label.pdf",
                            "fulfillmentDate": "2021-12-17T08:54:32.582Z",
                            "packageItems": [
                              {
                                "salesOrderLineItemCode": "386",
                                "quantity": 1
                              }
                            ]
                          }
                        ]
                      }
                    ],
                    "lineItems": [
                      {
                        "salesOrderLineItemCode": "386",
                        "sku": "1337-hoodie-dark-green",
                        "quantity": 1,
                        "status": "new",
                        "currencyCode": "EUR",
                        "price": 79.99,
                        "salePrice": 65.99,
                        "shippingAmount": 0,
                        "unitPromoAmount": 0,
                        "unitDiscountAmount": 0,
                        "taxAmount": 12.54,
                        "tax2Amount": 0,
                        "taxExempt": false,
                        "discountAmount": 0,
                        "promoAmount": 0,
                        "overrideAmount": 0,
                        "extendedPrice": 65.99,
                        "product": {
                          "code": "24-MB02",
                          "name": "Fusion Backpack",
                          "image": "https://myawesomeshop.com/images/img1.jpg",
                          "price": 79.99,
                          "salePrice": 65.99,
                          "currencyCode": "EUR",
                          "identifiers": {
                            "mfgPartNum": "100-440-0.750-3434-A",
                            "upc": "72527273070",
                            "ean": "401234567890",
                            "isbn": "978-3-16-148410-0",
                            "sku": "UGG-BB-PUR-06",
                            "distiPartNum": "235454356363"
                          },
                          "options": [
                            {
                              "code": "color",
                              "name": "Color",
                              "value": {
                                "code": "dark-green",
                                "name": "Dark Green"
                              }
                            }
                          ]
                        },
                        "substitutionAllowed": true
                      }
                    ],
                    "fulfillmentSlot": {
                      "id": "5_2019-09-03",
                      "date": "2019-09-03",
                      "weekday": "fri",
                      "from": "08:00",
                      "to": "08:59",
                      "status": "active",
                      "orderCount": 10
                    },
                    "submitDate": "2019-09-02T09:02:57.733Z",
                    "acceptDate": "2019-09-02T14:02:57.733Z",
                    "readyDate": "2019-09-02T14:03:57.733Z",
                    "completeDate": "2019-09-03T15:02:57.733Z"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/definitions/BatchErrors"
                }
              ],
              "properties": {
                "ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/orders/{orderNumber}/simpleFulfillmentOrders": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        }
      ],
      "post": {
        "operationId": "createSimpleFulfillmentOrders",
        "summary": "Create simple fulfillment orders for order",
        "description": "Create simple fulfillment orders for order",
        "tags": [
          "FulfillmentOrder"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "required": [
                "simpleFulfillmentOrders"
              ],
              "properties": {
                "simpleFulfillmentOrders": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/PostSimplifiedFulfillmentOrder"
                  }
                }
              }
            },
            "x-examples": {
              "createSimpleFulfillmentOrders": {
                "simpleFulfillmentOrders": [
                  {
                    "fulfillmentMethod": "string",
                    "fulfillmentLocationCode": "myLocationCode",
                    "lineItems": [
                      {
                        "salesOrderLineItemCode": "mySalesOrderLineItemCode",
                        "quantity": 1
                      }
                    ]
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/definitions/BatchErrors"
                }
              ],
              "properties": {
                "ids": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          },
          "409": {
            "description": "Requested quantities exceed sales order"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/fulfillmentOrders/{orderNumber}": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        },
        {
          "name": "includeInternalIds",
          "description": "The entity gets extended with the internal ID of retail.red, this query cannot be used by external clients.",
          "in": "query",
          "type": "boolean",
          "default": false
        },
        {
          "$ref": "#/parameters/OriginalImages"
        }
      ],
      "get": {
        "operationId": "getFulfillmentOrder",
        "summary": "Get fulfillment order",
        "description": "Get fulfillment order",
        "tags": [
          "FulfillmentOrder"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "getFulfillmentOrder": {
                "fulfillmentOrder": {
                  "orderNumber": "1293747-0001",
                  "externalCode": "000000274",
                  "posTransactionId": "528a-1",
                  "cancellationReason": "expired",
                  "heldUntil": "2019-10-05T09:02:57.733Z",
                  "pickupReminderApplicableAt": "2019-09-02T09:02:57.733Z",
                  "salesOrderNumber": "1293747",
                  "locationCode": "DERetail001",
                  "type": "directShip",
                  "customerId": "55c98b8e-1100-497c-8df6-4b4f0353ab2a",
                  "externalCustomerNumber": "C1756793",
                  "routeType": "standardDirectShip",
                  "expedited": true,
                  "status": "new",
                  "channel": {
                    "code": "DERTL",
                    "name": "US Retail"
                  },
                  "subTotal": 65.99,
                  "taxAmount": 12.54,
                  "tax2Amount": 0,
                  "total": 65.99,
                  "shippingTotal": 0,
                  "localeCode": "de-de",
                  "currencyCode": "EUR",
                  "notes": "Some note",
                  "specialInstructions": "House behind the dumpster",
                  "fulfillmentOrderAddress": {
                    "orderIndex": 0,
                    "type": "pickup",
                    "firstName": "Max",
                    "middleName": "René",
                    "lastName": "Muster",
                    "company": "Shopgate GmbH",
                    "address1": "12 Somestree",
                    "address2": "Haus B",
                    "address3": "erste Etage",
                    "address4": null,
                    "city": "Butzbach",
                    "region": "HE",
                    "postalCode": "35510",
                    "country": "DE",
                    "phone": "+49 12345 6789 001",
                    "fax": "+49 12345 6789 002",
                    "mobile": "+49 12345 6789 003",
                    "emailAddress": "max.muster@shopgate.com"
                  },
                  "fulfillments": [
                    {
                      "id": 981,
                      "status": "open",
                      "carrier": "DHL",
                      "serviceLevel": "sameDay",
                      "tracking": "JJD000390007882823450",
                      "createDate": "2021-12-17T09:19:14.290Z",
                      "fulfillmentPackages": [
                        {
                          "id": 694,
                          "status": "open",
                          "serviceLevel": "string",
                          "fulfilledFromLocationCode": "DERetail001",
                          "weight": 0,
                          "weightUnit": "g",
                          "dimensions": {
                            "length": 25,
                            "lengthUnit": "cm",
                            "width": 17.5,
                            "widthUnit": "cm",
                            "height": 10,
                            "heightUnit": "cm"
                          },
                          "tracking": "JJD000390007882823450",
                          "pickUpBy": "Kim Muster",
                          "labelUrl": "https://documentserver.internal/label/label.pdf",
                          "fulfillmentDate": "2021-12-17T09:19:14.290Z",
                          "packageItems": [
                            {
                              "salesOrderLineItemCode": "386",
                              "quantity": 1
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "lineItems": [
                    {
                      "id": 253,
                      "salesOrderLineItemCode": "386",
                      "sku": "1337-hoodie-dark-green",
                      "quantity": 5,
                      "quantityChangeReason": "wrongItem",
                      "status": "new",
                      "currencyCode": "EUR",
                      "price": 79.99,
                      "salePrice": 65.99,
                      "shippingAmount": 0,
                      "taxAmount": 12.54,
                      "tax2Amount": 0,
                      "taxExempt": false,
                      "unitPromoAmount": 0,
                      "unitDiscountAmount": 0,
                      "discountAmount": 0,
                      "promoAmount": 0,
                      "overrideAmount": 0,
                      "extendedPrice": 65.99,
                      "product": {
                        "code": "24-MB02",
                        "name": "Fusion Backpack",
                        "image": "https://myawesomeshop.com/images/img1.jpg",
                        "price": 79.99,
                        "salePrice": 65.99,
                        "currencyCode": "EUR",
                        "identifiers": {
                          "mfgPartNum": "100-440-0.750-3434-A",
                          "upc": "72527273070",
                          "ean": "401234567890",
                          "isbn": "978-3-16-148410-0",
                          "sku": "UGG-BB-PUR-06",
                          "distiPartNum": "235454356363"
                        },
                        "options": [
                          {
                            "code": "color",
                            "name": "Color",
                            "value": {
                              "code": "red",
                              "name": "Red"
                            }
                          }
                        ]
                      },
                      "substitutionAllowed": true
                    }
                  ],
                  "fulfillmentSlot": {
                    "id": "5_2019-09-03",
                    "date": "2019-09-03",
                    "weekday": "fri",
                    "from": "08:00",
                    "to": "08:59",
                    "status": "active",
                    "orderCount": 10
                  },
                  "submitDate": "2019-09-02T09:02:57.733Z",
                  "acceptDate": "2019-09-02T14:02:57.733Z",
                  "readyDate": "2019-09-02T14:03:57.733Z",
                  "plannedFulfillmentDate": "2019-09-02T14:03:57.733Z",
                  "completeDate": "2019-09-03T15:02:57.733Z",
                  "pickingBatchId": "10-0001"
                }
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "fulfillmentOrder": {
                  "$ref": "#/definitions/FulfillmentOrder"
                }
              }
            }
          },
          "404": {
            "description": "Fulfillment order not found"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      },
      "post": {
        "operationId": "updateFulfillmentOrder",
        "summary": "Update fulfillment order",
        "description": "Update fulfillment order",
        "tags": [
          "FulfillmentOrder"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "properties": {
                "status": {
                  "$ref": "#/definitions/FulfillmentOrderStatus"
                },
                "notes": {
                  "$ref": "#/definitions/Notes"
                },
                "posTransactionId": {
                  "$ref": "#/definitions/PosTransactionId"
                },
                "cancellationReason": {
                  "$ref": "#/definitions/CancellationReason"
                },
                "lineItems": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "number",
                        "description": "Line Item id of the item to update. In case of an insert this field is not required",
                        "example": 10
                      },
                      "status": {
                        "$ref": "#/definitions/LineItemStatus"
                      },
                      "quantity": {
                        "type": "number",
                        "minimum": 0,
                        "example": 5
                      },
                      "quantityChangeReason": {
                        "$ref": "#/definitions/QuantityChangeReason"
                      },
                      "product": {
                        "type": "object",
                        "properties": {
                          "code": {
                            "type": "string",
                            "example": "24-MB02"
                          }
                        }
                      }
                    }
                  }
                },
                "fulfillmentSlot": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id of the fulfillment slot",
                      "example": "5_2019-09-03"
                    }
                  }
                }
              }
            },
            "x-examples": {
              "updateFulfillmentOrder": {
                "status": "requested",
                "notes": "Some note",
                "posTransactionId": "528a-1",
                "cancellationReason": "expired",
                "lineItems": [
                  {
                    "id": 10,
                    "status": "requested",
                    "quantity": 5,
                    "quantityChangeReason": "wrongItem",
                    "product": {
                      "code": "24-MB02"
                    }
                  }
                ],
                "fulfillmentSlot": {
                  "id": "5_2019-09-03"
                }
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Status successfully updated"
          },
          "404": {
            "description": "Order not found"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/fulfillmentOrders/{orderNumber}/id": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        }
      ],
      "get": {
        "operationId": "getFulfillmentOrderId",
        "summary": "Get id of fulfillment order",
        "description": "Get id of fulfillment order",
        "x-internal": true,
        "tags": [
          "FulfillmentOrder"
        ],
        "responses": {
          "200": {
            "description": "",
            "examples": {
              "getFulfillmentOrderId": {
                "id": 100
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "number"
                }
              }
            }
          },
          "404": {
            "description": "Fulfillment order not found"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/fulfillmentOrders/{orderNumber}/fulfillments": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        }
      ],
      "post": {
        "operationId": "createFulfillmentsFulfillmentOrder",
        "summary": "Create fulfillments for fulfillment order",
        "description": "### Creating fulfillments for directShip fulfillmentOrders\nCreating fulfillments for fulfillmentOrders of type **directShip** requires the following fields, although they are not marked as required by the API documentaion:\n\n  - serviceLevel\n  - carrier\n  - package code or package dimensions\n  - weight\n\nAdditionally, the fulfillmentOrder address has to contain the following fields:\n\n  - firstName\n  - lastName\n  - address1\n  - city\n  - postalCode\n  - emailAddress\n  - country\n",
        "tags": [
          "FulfillmentOrder"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "fulfillments"
              ],
              "properties": {
                "fulfillments": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/CreateFulfillment"
                  }
                }
              }
            },
            "x-examples": {
              "createFulfillmentsFulfillmentOrder": {
                "fulfillments": [
                  {
                    "status": "open",
                    "carrier": "DHL",
                    "serviceLevel": "sameDay",
                    "tracking": "JJD000390007882823450",
                    "fulfillmentPackages": [
                      {
                        "status": "open",
                        "serviceLevel": "sameDay",
                        "package": "small",
                        "fulfilledFromLocationCode": "DERetail001",
                        "weight": 2000,
                        "weightUnit": "g",
                        "dimensions": {
                          "length": 25,
                          "lengthUnit": "cm",
                          "width": 17.5,
                          "widthUnit": "cm",
                          "height": 10,
                          "heightUnit": "cm"
                        },
                        "tracking": "JJD000390007882823450",
                        "pickUpBy": "Kim Muster",
                        "labelUrl": "https://documentserver.internal/label/label.pdf",
                        "fulfillmentDate": "2021-12-17T09:00:31.645Z",
                        "packageItems": [
                          {
                            "salesOrderLineItemCode": "386",
                            "quantity": 1
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Fulfillment groups created",
            "schema": {
              "type": "object",
              "properties": {
                "ids": {
                  "type": "array",
                  "items": {
                    "type": "number",
                    "example": 100
                  }
                },
                "errors": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/BatchError"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Merchant or fulfillment order not found"
          }
        }
      }
    },
    "/merchants/{merchantCode}/fulfillmentOrders/{orderNumber}/fulfillments/{fulfillmentId}": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        },
        {
          "name": "fulfillmentId",
          "description": "The ID of the fulfillment",
          "in": "path",
          "type": "string",
          "required": true
        }
      ],
      "post": {
        "operationId": "updateFulfillmentsFulfillmentOrder",
        "summary": "Update fulfillments of fulfillment order",
        "description": "Update fulfillments of fulfillment order",
        "tags": [
          "FulfillmentOrder"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/UpdateFulfillment"
            },
            "x-examples": {
              "updateFulfillmentsFulfillmentOrder": {
                "status": "open",
                "carrier": "DHL",
                "serviceLevel": "sameDay",
                "package": "small",
                "tracking": "JJD000390007882823450",
                "fulfillmentPackages": [
                  {
                    "status": "open",
                    "serviceLevel": "sameDay",
                    "package": "small",
                    "fulfilledFromLocationCode": "DERetail001",
                    "weight": 2000,
                    "weightUnit": "g",
                    "dimensions": {
                      "length": 25,
                      "lengthUnit": "cm",
                      "width": 17.5,
                      "widthUnit": "cm",
                      "height": 10,
                      "heightUnit": "cm"
                    },
                    "tracking": "JJD000390007882823450",
                    "pickUpBy": "Kim Muster",
                    "labelUrl": "https://documentserver.internal/label/label.pdf",
                    "fulfillmentDate": "2021-12-17T09:02:43.483Z",
                    "packageItems": [
                      {
                        "salesOrderLineItemCode": "386",
                        "quantity": 1
                      }
                    ]
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Fulfillment updated"
          },
          "404": {
            "description": "Merchant, fulfillment order or fulfillment not found"
          }
        }
      }
    },
    "/merchants/{merchantCode}/fulfillmentOrders/{orderNumber}/history": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        }
      ],
      "get": {
        "operationId": "getFulfillmentOrderHistory",
        "summary": "Get history of fulfillment order",
        "description": "Get history of fulfillment order",
        "tags": [
          "FulfillmentOrder"
        ],
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "type": "string",
            "format": "json",
            "description": "Filters as json string to be applied. Available filter is type."
          },
          {
            "in": "query",
            "name": "sort",
            "type": "string",
            "description": "Sorting of order history."
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the history",
            "examples": {
              "getFulfillmentOrderHistory": {
                "history": [
                  {
                    "type": "fulfillmentOrderStatusUpdated",
                    "id": 468,
                    "details": "string",
                    "entityId": 0,
                    "newValue": {
                      "status": "checkedIn"
                    },
                    "oldValue": {
                      "status": "ready"
                    },
                    "createDate": "2021-12-17T09:21:11.039Z",
                    "user": {
                      "name": "Max Muster",
                      "id": "237e228f-c1d0-4bb7-898d-14a5aa1ea955"
                    }
                  }
                ]
              }
            },
            "schema": {
              "type": "object",
              "properties": {
                "history": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/FulfillmentOrderHistoryItem"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Fulfillment order not found"
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/merchants/{merchantCode}/fulfillmentOrders/{orderNumber}/lineItems/{lineItemId}/status": {
      "parameters": [
        {
          "$ref": "#/parameters/MerchantCode"
        },
        {
          "$ref": "#/parameters/OrderNumber"
        },
        {
          "name": "lineItemId",
          "description": "Unique Line Item IDs to return",
          "in": "path",
          "type": "number",
          "required": true
        }
[...]
