swagger: '2.0'
info:
  title: Order Service API
  version: '1.0'
  contact:
    name: Shopgate API
    url: https://shopgate.com
    email: support@shopgate.com
  description: |
    Shopgate Order API is designed to support all order related functionality including
    * Order Submission (Create)
    * Order Modification (Update / Cancellation)
    * Order Fulfillment (Processing Fulfillment Orders)
    This API leverages the standard Shopgate REST API authentication method.
host: order.shopgate.io
basePath: "/v1"
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /merchants/{merchantCode}/analytics/salesOrder/{reportType}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - in: path
        name: reportType
        type: string
        required: true
        enum:
          - orderCount
          - orderRevenue
          - revenueHistogram
          - orderCountHistogram
          - averageOrderValue
          - averageLineItems
      - $ref: '#/parameters/Resolution'
      - in: query
        name: timezone
        type: string
        description: Timezone of the reporting in the format of the IANA timezone. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for more information.
      - in: query
        name: filters
        type: string
        format: json
        description: |
          Filters as json string to be applied. Available filters are:
           - date
           - platform
           - fulfillmentMethod.
      - in: query
        name: countSkipsUnfulfilled
        type: boolean
        default: false
        description: If set to true, for report types `orderCount` and `orderCountHistogram` will only count orders that were actually fulfilled ("completed" for BOPIS & directShip, "fulfilled" for ROPIS).
    get:
      operationId: getSalesOrderReport
      summary: Get sales order report
      description: Get sales order report
      x-internal: true
      tags:
        - Analytics
      responses:
        200:
          description: 'Sales order reporting'
          schema:
            type: object
            properties:
              reportingData:
                type: array
                items:
                  $ref: '#/definitions/ReportingMetric'
  /merchants/{merchantCode}/analytics/fulfillmentOrder/{reportType}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - in: path
        name: reportType
        type: string
        required: true
        enum:
          - orderCount
          - completedOrderCount
          - orderCountHistogram
          - fulfilledOrderCountHistogram
          - fulfilledOrderRevenueHistogram
          - fulfilledOrderRevenueByLocationType
          - fulfilledOrderRevenueByStore
          - fulfilledOrderRevenueByFulfillmentMethod
          - abortedState
          - lineItemFulfillmentRate
          - lineItemReturnRate
          - orderReadyTimes
      - $ref: '#/parameters/Resolution'
      - in: query
        name: timezone
        type: string
        description: Timezone of the reporting in the format of the IANA timezone. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for more information.
      - in: query
        name: filters
        type: string
        format: json
        description: |
          Filters as json string to be applied. Available filters are:
           - locationCode
           - status
           - orderNumber
           - name
           - fulfillmentMethod
      - in: query
        name: filterDateField
        type: string
        description: The date field to filter for on selected report types. Currently supported by `orderCount`.
        enum:
          - createDate
          - statusChangeDate
          - completedDate
        default: statusChangeDate
    get:
      operationId: getFulfillmentOrderReport
      summary: Get fulfillment order report
      description: Get fulfillment order report
      x-internal: true
      tags:
        - Analytics
      responses:
        200:
          description: 'Fulfillment order reporting'
          schema:
            type: object
            properties:
              reportingData:
                type: array
                items:
                  $ref: '#/definitions/ReportingMetric'
  /merchants/{merchantCode}/analytics/fulfillmentOrder/{reportType}/exportCsv:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - in: path
        name: reportType
        type: string
        required: true
        enum:
          - orderCountHistogram
          - fulfilledOrderCountHistogram
          - abortedState
      - in: query
        name: timezone
        type: string
        description: Timezone of the reporting in the format of the IANA timezone. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for more information
      - in: query
        name: filters
        type: string
        format: json
        description: |
          Filters as json string to be applied. Available filters are:
           - locationCode
           - status
           - orderNumber
           - name
           - fulfillmentMethod
    get:
      operationId: getFulfillmentOrderCsvExport
      summary: Get fulfillment order csv export
      description: Get fulfillment order csv export
      x-internal: true
      tags:
        - Analytics
      produces:
        - text/csv
      responses:
        200:
          description: Returns a csv with data for the selected report type
          schema:
            type: string
  /merchants/{merchantCode}/analytics/ropis/{reportType}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - in: path
        name: reportType
        type: string
        required: true
        enum:
          - reservations
          - averageLineItems
          - productAvailability
          - statusDistribution
          - checkIns
          - abortedState
          - averageReadyTime
          - conversionsAfterCheckIn
      - $ref: '#/parameters/Resolution'
      - in: query
        name: timezone
        type: string
        description: Timezone of the reporting in the format of the IANA timezone. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for more information
      - in: query
        name: filters
        type: string
        format: json
        description: |
          Filter string. Available filters: date, locationCode.
          The date filter is mandatory and has to be located under a first-level $and query.
          Use filter types $lte and $gte to filter for a start or end date respectively.
          The date can be the date without the timezone like "2020-01-01", in which case the start/end date based on
          the resolution and timezone passed as query parameters will be used.
          In the case of a full date-time string like "2020-01-01T00:00:00+01:00" that will override the timezone
          parameter passed in the query.
          If only the start date ($gte) was passed, the end date will be set to the end of the start date's day.
          If only the end date ($lte) was passed, the start date will be set to the beginning of the end date's day.
          Examples:
          `{"$and":[{"date":{"$gte":"2021-04-16T00:00:00Z"}}]}` - results in a search starting at 2021-04-16T00:00:01Z
          and ending 2021-04-16T23:59:59Z.
          `{"$and":[{"date":{"$lte":"2021-04-16T23:59:59Z"}}]}` - is equivalent to the above search
    get:
      operationId: getRopisReporting
      summary: Get ropis reporting
      description: Get ropis reporting
      x-internal: true
      tags:
        - Analytics
      responses:
        200:
          description: 'Ropis reporting'
          schema:
            type: object
            properties:
              reportingData:
                type: array
                items:
                  $ref: '#/definitions/ReportingMetric'
  # Add exportCsv endpoint for ROPIS reporting
  /merchants/{merchantCode}/analytics/ropis/{reportType}/exportCsv:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - in: path
        name: reportType
        type: string
        required: true
        enum:
          - reservations
          - checkIns
      - in: query
        name: timezone
        type: string
        description: Timezone of the reporting in the format of the IANA timezone. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for more information
      - in: query
        name: filters
        type: string
        format: json
        description: |
          Filter string. Available filters: date, locationCode.
          The date filter is mandatory and has to be located under a first-level $and query.
          Use filter types $lte and $gte to filter for a start or end date respectively.
          The date can be the date without the timezone like "2020-01-01", in which case the start/end date based on
          the resolution and timezone passed as query parameters will be used.
          In the case of a full date-time string like "2020-01-01T00:00:00+01:00" that will override the timezone
          parameter passed in the query.
          If only the start date ($gte) was passed, the end date will be set to the end of the start date's day.
          If only the end date ($lte) was passed, the start date will be set to the beginning of the end date's day.
          Examples:
          `{"$and":[{"date":{"$gte":"2021-04-16T00:00:00Z"}}]}` - results in a search starting at 2021-04-16T00:00:01Z
          and ending 2021-04-16T23:59:59Z.
          `{"$and":[{"date":{"$lte":"2021-04-16T23:59:59Z"}}]}` - is equivalent to the above search
    get:
      operationId: getRopisReportingCsvExport
      summary: Get ROPIS reporting csv export
      description: Get ROPIS order csv export
      x-internal: true
      tags:
        - Analytics
      produces:
        - text/csv
      responses:
        200:
          description: Returns a csv with data for the selected report type
          schema:
            type: string
  /merchants/{merchantCode}/analytics/shipFromStore/{reportType}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - in: path
        name: reportType
        type: string
        required: true
        enum:
          - orders
          - averageLineItems
          - orderSplits
          - averageFulfillmentOrdersPerOrders
          - averageOrderShipments
          - orderShipments
          - abortedState
          - productUnavailability
          - locationTypeDistribution
          - warehouseDistribution
          - storeDistribution
          - dropShippingDistribution
          - averageTimeUntilFosReady
          - averageTimeUntilSosFulfilled
      - $ref: '#/parameters/Resolution'
      - in: query
        name: timezone
        type: string
        description: Timezone of the reporting in the format of the IANA timezone. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for more information
      - in: query
        name: filters
        type: string
        format: json
        description: |
          Filter string. Available filters: date.
          The date filter is mandatory and has to be located under a first-level $and query.
          Use filter types $lte and $gte to filter for a start or end date respectively.
          The date can be the date without the timezone like "2020-01-01", in which case the start/end date based on
          the resolution and timezone passed as query parameters will be used.
          In the case of a full date-time string like "2020-01-01T00:00:00+01:00" that will override the timezone
          parameter passed in the query.
          If only the start date ($gte) was passed, the end date will be set to the end of the start date's day.
          If only the end date ($lte) was passed, the start date will be set to the beginning of the end date's day.
          Examples:
          `{"$and":[{"date":{"$gte":"2021-04-16T00:00:00Z"}}]}` - results in a search starting at 2021-04-16T00:00:01Z
          and ending 2021-04-16T23:59:59Z.
          `{"$and":[{"date":{"$lte":"2021-04-16T23:59:59Z"}}]}` - is equivalent to the above search
    get:
      operationId: getShipFromStore
      summary: Get ship from store reporting
      description: Get ship from store reporting
      x-internal: true
      tags:
        - Analytics
      responses:
        200:
          description: 'Ship from store reporting'
          schema:
            type: object
            properties:
              reportingData:
                type: array
                items:
                  $ref: '#/definitions/ReportingMetric'
  /merchants/{merchantCode}/orders:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    get:
      operationId: getSalesOrders
      summary: Get sales orders
      description: Get sales orders
      tags:
        - SalesOrder
      parameters:
        - in: query
          name: filters
          type: string
          description: "Filter string. Supported filters: id, orderNumber, externalCode, name, customerId, contactType, status, date, submitDate, updateDate, fulfillDate, completeDate, fulfillmentStatus"
        - in: query
          name: fields
          description: "Available fields: lineItems"
          format: csv
          type: string
        - name: includeInternalIds
          description: The entity gets extended with the internal ID of Shopgate, this query cannot be used by external clients.
          in: query
          type: boolean
          default: false
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
      responses:
        '200':
          description: 'Return sales orders'
          schema:
            type: object
            properties:
              orders:
                type: array
                items:
                  $ref: '#/definitions/SalesOrder'
              meta:
                $ref: '#/definitions/Pagination'
          examples:
            getSalesOrders:
              orders:
                - orderNumber: '1293747'
                  shopCode: shop_12345
                  externalCode: '000000274'
                  type: standard
                  customerId: 55c98b8e-1100-497c-8df6-4b4f0353ab2a
                  externalCustomerNumber: C1756793
                  status: new
                  expedited: false
                  localeCode: de-de
                  currencyCode: EUR
                  taxExempt: false
                  notes: Some note
                  specialInstructions: House behind the dumpster
                  data: {}
                  fulfillmentStatus: open
                  primaryBillToAddressSequenceIndex: 0
                  primaryShipToAddressSequenceIndex: 0
                  addressSequences:
                    - type: shipping
                      customerContactId: 0b475af4-7ed9-4065-b4bb-7d76c537d820
                      firstName: Max
                      middleName: René
                      lastName: Muster
                      company: 'Shopgate GmbH'
                      address1: 'Schloßstr. 10'
                      address2: 'Haus B'
                      address3: 'erste Etage'
                      address4: null
                      city: Butzbach
                      region: HE
                      postalCode: '35510'
                      country: DE
                      additionalFields:
                        dhlPostBoxNumber: 12345
                        dhlPostNumber: 1234567890
                      phone: +49 12345 6789 001
                      fax: +49 12345 6789 002
                      mobile: +49 12345 6789 003
                      emailAddress: max.muster@shopgate.com
                      orderSegment:
                        selectedShippingMethod:
                          code: standardShipping
                          serviceLevel:
                            code: standard
                            carrier:
                              code: DHL
                              name: DHL International
                            name: DHL Standard
                            cost: 4.99
                            iconUrl: 'https://myserver.com/DHL.png'
                          name: Standard Shipping
                        availableShippingMethods:
                          - code: standardShipping
                            name: Standard Shipping
                            serviceLevels:
                              - code: string
                                name: DHL Standard
                                cost: 4.99
                                iconUrl: 'https://myserver.com/DHL.png'
                                carrier:
                                  code: DHL
                                  name: DHL International
                  subTotal: 65.99
                  discountAmount: 0
                  promoAmount: 0
                  taxAmount: 12.54
                  tax2Amount: 0
                  shippingSubTotal: 4.99
                  shippingDiscountAmount: 0
                  shippingPromoAmount: 0
                  shippingTotal: 4.99
                  taxSummary:
                    - code: default_19
                      name: 19%
                      amount: 12.54
                  total: 70.98
                  date: '2021-12-16T16:05:21.342Z'
                  submitDate: '2019-09-02T09:02:57.733Z'
                  fulfillDate: '2019-09-03T15:02:32.733Z'
                  completeDate: '2019-09-03T15:02:57.733Z'
                  sourceIp: 85.45.62.2
                  userAgent: 'Mozilla/5.0 (Android 4.4; Mobile; rv:41.0) Gecko/41.0 Firefox/41.0'
                  domain: www.mydomain.com
                  platform: engage
                  os: ios
                  imported: false
                  campaignAttribution:
                    campaignCode: CMP-1
                    channel: push
                    distributionIndex: 0
                  lineItemCount: 1
              meta:
                limit: 100
                offset: 0
                totalItemCount: 1
    post:
      operationId: createSalesOrders
      summary: Create sales orders
      description: Create sales orders
      tags:
        - SalesOrder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - orders
            properties:
              orders:
                type: array
                minItems: 1
                maxItems: 100
                items:
                  $ref: '#/definitions/PostSalesOrder'
          x-examples:
            createSalesOrders - directShip:
              orders:
                - shopCode: shop_12345
                  customerId: 35b0ec35-eba4-6d71-bf92-d33ed8d72282
                  localeCode: de-de
                  currencyCode: EUR
                  status: open
                  addressSequences:
                    - type: billing
                      firstName: John
                      middleName: null
                      lastName: Doe
                      company: 'Shopgate GmbH'
                      address1: Schloßstr. 10
                      address2: Haus B
                      address3: erste Etage
                      address4: null
                      city: Butzbach
                      region: HE
                      postalCode: '35510'
                      country: DE
                      additionalFields: null
                      phone: +49 12345 6789 001
                      fax: +49 12345 6789 002
                      mobile: +49 12345 6789 003
                      emailAddress: max.muster@shopgate.com
                    - type: shipping
                      firstName: Max
                      middleName: René
                      lastName: Muster
                      company: null
                      address1: Hauptstr. 31
                      address2: null
                      address3: null
                      address4: null
                      city: Butzbach
                      region: HE
                      postalCode: '35510'
                      country: DE
                      additionalFields:
                        dhlPostBoxNumber: '12345'
                        dhlPostNumber: '1234567890'
                      phone: +49 12345 6789 001
                      fax: +49 12345 6789 002
                      mobile: +49 12345 6789 003
                      emailAddress: max.muster@shopgate.com
                      orderSegment:
                        selectedShippingMethod:
                          code: standardShipping
                          serviceLevel:
                            code: standard
                            carrier:
                              code: DHL
                  primaryBillToAddressSequenceIndex: 0
                  primaryShipToAddressSequenceIndex: 1
                  lineItems:
                    - code: someSelfDefinedCode
                      quantity: 2
                      fulfillmentMethod: directShip
                      fulfillmentLocationCode: null
                      shipToAddressSequenceIndex: 1
                      product:
                        code: 24-MB02
                        name: Fusion Backpack
                        price: 59.99
                        salePrice: 39.99
                        image: >-
                          https://shopgatedevcloud-omni-merchant-development.s3.amazonaws.com/FUSION/shop_31904/productPlaceholder.png
                        currencyCode: EUR
                      currencyCode: EUR
                      price: 79.98
                      unitPromoAmount: -4
                      promoAmount: -8
                      unitDiscountAmount: -3
                      discountAmount: -6
                      extendedPrice: 65.98
                  subTotal: 65.98
                  promoAmount: -5
                  discountAmount: 0
                  shippingSubTotal: 3.99
                  shippingDiscountAmount: 0
                  shippingPromoAmount: 0
                  shippingTotal: 3.99
                  total: 64.97
                  submitDate: '2021-12-20T11:50:56.067Z'
      responses:
        '201':
          description: ''
          schema:
            type: object
            allOf:
              - $ref: '#/definitions/BatchErrors'
            properties:
              orderNumbers:
                type: array
                items:
                  type: string

        '404':
          description: Order not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/orders/{orderNumber}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
    get:
      operationId: getSalesOrder
      summary: Get sales order
      description: Get sales order
      tags:
        - SalesOrder
      parameters:
        - name: includeInternalIds
          description: The entity gets extended with the internal ID of Shopgate, this query cannot be used by external clients.
          in: query
          type: boolean
          default: false
        - name: fields
          description: |
            List of specific fields or groups to return. Possible values are: customer, orderUrl, isOrderable
          in: query
          type: string
        - $ref: '#/parameters/OriginalImages'
      responses:
        '200':
          description: 'Return sales order'
          schema:
            type: object
            properties:
              order:
                $ref: '#/definitions/GetSalesOrder'
          examples:
            getSalesOrder:
              order:
                orderNumber: '1293747'
                shopCode: shop_12345
                externalCode: '000000274'
                type: standard
                customerId: 55c98b8e-1100-497c-8df6-4b4f0353ab2a
                externalCustomerNumber: C1756793
                status: new
                expedited: false
                localeCode: de-de
                currencyCode: EUR
                taxExempt: false
                notes: Some note
                specialInstructions: House behind the dumpster
                data: {}
                fulfillmentStatus: open
                primaryBillToAddressSequenceIndex: 0
                primaryShipToAddressSequenceIndex: 0
                addressSequences:
                  - type: shipping
                    customerContactId: 0b475af4-7ed9-4065-b4bb-7d76c537d820
                    firstName: Max
                    middleName: René
                    lastName: Muster
                    company: Shopgate GmbH
                    address1: Schloßstr. 10
                    address2: Haus B
                    address3: erste Etage
                    address4: null
                    city: Butzbach
                    region: HE
                    postalCode: '35510'
                    country: DE
                    additionalFields:
                      dhlPostBoxNumber: 12345
                      dhlPostNumber: 1234567890
                    phone: +49 12345 6789 001
                    fax: +49 12345 6789 002
                    mobile: +49 12345 6789 003
                    emailAddress: max.muster@shopgate.com
                    orderSegment:
                      selectedShippingMethod:
                        code: standardShipping
                        serviceLevel:
                          code: standard
                          carrier:
                            code: DHL
                            name: DHL International
                          name: DHL Standard
                          cost: 4.99
                          iconUrl: 'https://myserver.com/DHL.png'
                        name: Standard Shipping
                      availableShippingMethods:
                        - code: standardShipping
                          name: Standard Shipping
                          serviceLevels:
                            - code: string
                              name: DHL Standard
                              cost: 4.99
                              iconUrl: 'https://myserver.com/DHL.png'
                              carrier:
                                code: DHL
                                name: DHL International
                subTotal: 65.99
                discountAmount: 0
                promoAmount: 6.60
                taxAmount: 0
                tax2Amount: 0
                shippingSubTotal: 4.99
                shippingDiscountAmount: 0
                shippingPromoAmount: 0
                shippingTotal: 0
                taxSummary:
                  - code: default_19
                    name: 19%
                    amount: 11.28
                total: 59.39
                date: '2021-12-16T16:17:47.929Z'
                submitDate: '2019-09-02T09:02:57.733Z'
                fulfillDate: '2019-09-03T15:02:32.733Z'
                completeDate: '2019-09-03T15:02:57.733Z'
                sourceIp: 85.45.62.2
                userAgent: 'Mozilla/5.0 (Android 4.4; Mobile; rv:41.0) Gecko/41.0 Firefox/41.0'
                domain: www.mydomain.com
                platform: engage
                os: ios
                imported: false
                campaignAttribution:
                  campaignCode: CMP-1
                  channel: push
                  distributionIndex: 0
                lineItemCount: 1
                returnStatus: partialReturn
                paymentTransactions:
                  - id: edadf6a6-f536-489f-92b8-c15fc1edc19b
                    externalCode: pi_GTS8a787uuRMaC86GBxpDABYn
                    status: failed
                    type: order
                    paymentMethod:
                      code: stripe
                      type: cc
                      provider: stripe
                    authorizedAmount: 59.39
                    chargedAmount: 0
                    checkoutParams:
                      paymentIntent: geosjhgirhgsigpr
                    paymentError:
                      message: Your card has insufficient funds
                      code: card_declined
                    paymentInfo:
                      type: cc
                      card:
                        type: visa
                        last4: 4242
                fulfillmentGroups:
                  - id: 648
                    fulfillmentMethod: directShip
                    fulfillmentLocationCode: string
                    shipToAddressSequenceIndex: 0
                    fulfillments:
                      - status: open
                        carrier: DHL
                        serviceLevel: sameDay
                        tracking: JJD000390007882823450
                        fulfillmentPackages:
                          - status: open
                            serviceLevel: sameDay
                            package: small
                            fulfilledFromLocationCode: DERetail001
                            weight: 2000
                            weightUnit: g
                            dimensions:
                              length: 25
                              lengthUnit: cm
                              width: 17.5
                              widthUnit: cm
                              height: 10
                              heightUnit: cm
                            tracking: JJD000390007882823450
                            pickUpBy: Kim Muster
                            labelUrl: 'https://documentserver.internal/label/label.pdf'
                            fulfillmentDate: '2021-12-16T16:17:47.929Z'
                            packageItems:
                              - salesOrderLineItemCode: '386'
                                quantity: 1
                                id: 457
                            id: 694
                            additionalProp1: {}
                        id: 981
                coupons:
                  - code: SUMMER2020
                    name: Coupon for Summer 2020
                    limits:
                      overall: 500
                      maxPerCustomer: 1
                    status: active
                    couponSet: null
                    promotion:
                      code: promo
                      name: Promo with Coupon
                lineItems:
                  - quantityChangeReason: wrongItem
                    status: inProgress
                    subStatus: null
                    code: '386'
                    quantity: 1
                    routedQuantity: 1
                    fulfillmentMethod: directShip
                    fulfillmentLocationCode: DERetail001
                    shipToAddressSequenceIndex: 0
                    product:
                      code: 24-MB02
                      name: Fusion Backpack
                      image: 'https://myawesomeshop.com/images/img1.jpg'
                      price: 79.99
                      salePrice: 65.99
                      currencyCode: EUR
                      identifiers:
                        mfgPartNum: 100-440-0.750-3434-A
                        upc: '72527273070'
                        ean: '401234567890'
                        isbn: 978-3-16-148410-0
                        sku: UGG-BB-PUR-06
                        distiPartNum: '235454356363'
                      options:
                        - code: color
                          name: Color
                          value:
                            code: red
                            name: Red
                    currencyCode: EUR
                    shippingAmount: 0
                    taxAmount: 0
                    tax2Amount: 0
                    taxExempt: false
                    unitPromoAmount: 0
                    unitDiscountAmount: 0
                    discountAmount: 0
                    promoAmount: 0
                    overrideAmount: 0
                    extendedPrice: 65.99
                    price: 79.99
                    salePrice: 65.99
                    substitutionAllowed: true
                    returnQuantity: 1
                    fulfillmentSlot:
                      id: 5_2019-09-03
                      date: '2019-09-03'
                      weekday: fri
                      from: '08:00'
                      to: '08:59'
                      status: active
                      orderCount: 10
                    appliedPromotions: []
                appliedPromotions:
                  - code: 2020summerPromotion
                    name: Summer Promotion for 2020
                    model: simpleDiscount
                    description: This promotion is for our summer coupons
                    promotionalText: This coupons gives you 10% off to celebrate the summer 2020
                    status: active
                    startDate: '2020-07-01T00:00:000'
                    endDate: '2020-07-01T00:00:000'
                    target: order
                    type: "promotion"
                    discount:
                      type: percentage
                      amount: 10
                    conditions:
                      $and:
                        - subTotal:
                            gte: 100
                        - $or:
                            - fulfillmentMethod:
                                $in:
                                  - directShip
                                  - BOPIS
                                  - ROPIS
                            - customer.segment.code:
                                $in:
                                  - employees
                                  - contractors
                    impact:
                      conditions:
                        lineItem.product.categoryCode:
                          $in:
                            - backpacks
                        lineItem.quantity: 1
                      automaticallyAddedToCart: false
                    coupon:
                      code: summer2020
                      name: Coupon 10off for the summer 2020
                      limits:
                        overall: 10
                        maxPerCustomer: null
                    couponSet: null
                    limitConditions:
                      maxOverallUsageCount: 100
                      maxCustomerUsageCount: 1
                      maxUsagePerOrder: 1
                      cantBeCombinedWithPromotionCode:
                        $in:
                          - bogo1
                fulfillmentSlots:
                  id: 5_2019-09-03
                  date: '2019-09-03'
                  weekday: fri
                  from: '08:00'
                  to: '08:59'
                  status: active
                  orderCount: 10
                customer:
                  id: d162439c-e2f9-4050-8b94-6bff33e8163b
                  internalCustomerNumber: 2
                  externalCustomerNumber: '10001'
                  firstName: Max
                  middleName: René
                  lastName: Muster
                  emailAddress: max.muster@shopgate.com
                  status: active
                  isAnonymous: true
                  externalUpdateDate: '2021-12-16T16:17:47.929Z'
                  taxExempt: false
                  taxClass: string
                  contacts:
                    - id: 55a94ee0-6671-11e9-bb49-13684cb7b248
                      externalContactCode: 357709b0-9378-470b-976e-1b040e29b97b
                      status: active
                      firstName: Max
                      middleName: René
                      lastName: Muster
                      companyName: 'Shopgate GmbH'
                      address1: Schloßstr. 10
                      address2: 'Haus B'
                      address3: 'erste Etage'
                      address4: null
                      city: Butzbach
                      postalCode: '35510'
                      region: HE
                      country: DE
                      additionalFields:
                        dhlPostBoxNumber: 12345
                        dhlPostNumber: 1234567890
                      phone: +49 12345 6789 001
                      fax: +49 12345 6789 002
                      mobile: +49 12345 6789 003
                      emailAddress: max.muster@shopgate.com
                      isDefaultBilling: true
                      isDefaultShipping: true
                      externalUpdateDate: '2021-12-16T16:17:47.929Z'
                  attributes:
                    - code: tshirtSize
                      name: T-Shirt Size
                      value:
                        code: l
                        name: L
                    - code: nameOfCat
                      name: Name of your cat
                      value: Some Cat Name
                  settings:
                    defaultLocale: de-de
                    defaultCurrency: EUR
                    communicationPreferences:
                      - email
                      - push
                      - sms
                    defaultLocationCode: DERetail001
                    marketingOptIn: false
                isOrderable: true
    post:
      operationId: updateSalesOrder
      summary: Update sales order
      description: Update sales order
      tags:
        - SalesOrder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateSalesOrder'
          x-examples:
            updateSalesOrder:
              externalCode: myExternalCode1
              notes: Some note
              specialInstructions: House behind the dumpster
              data:
                collectedLoyaltyPoints: 10
              fulfillmentStatus: open
              status: open
              addressSequences:
                - type: shipping
                  firstName: Max
                  middleName: null
                  lastName: Muster
                  company: Awesome Company Inc
                  address1: Hauptstraße 1234
                  city: Butzbach
                  region: HE
                  postalCode: '35510'
                  country: DE
                  additionalFields:
                    dhlPostBoxNumber: 12345
                    dhlPostNumber: 1234567890
                  mobile: +49 12345 6789 003
                  emailAddress: max.muster@shopgate.com
              paymentTransactions:
                - externalCode: pi_GTS8a787uuRMaC86GBxpDABYn
                  paymentMethod:
                    code: stripe
                  authorizedAmount: 59.39
              primaryBillToAddressSequenceIndex: 0
              primaryShipToAddressSequenceIndex: 1
              sourceIp: 85.45.62.2
              userAgent: 'Mozilla/5.0 (Android 4.4; Mobile; rv:41.0) Gecko/41.0 Firefox/41.0'
              domain: www.mydomain.com
              platform: engage
              os: ios
              customer:
                attributes:
                  - code: tshirtSize
                    value: L
              lineItems:
                - code: 386
                  quantity: 2
                  currencyCode: USD
                  shippingAmount: 0
                  price: 16.80
                  extendedPrice: 0
                  taxAmount: 3.19
                  tax2Amount: 0
                  taxExempt: false
                  unitPromoAmount: 0
                  unitDiscountAmount: 0
                  discountAmount: 0
                  promoAmount: 19.99
                  overrideAmount: 0
                  substitutionAllowed: false
                  replacedLineItemId: null
              subTotal: 16.80
              discountAmount: 0
              promoAmount: 0
              shippingSubTotal: 4.12
              shippingDiscountAmount: 0
              shippingPromoAmount: 0
              shippingTotal: 4.90
              taxAmount: 3.19
              tax2Amount: 0
              taxSummary:
                - code: vat_19
                  name: Default VAT 19%
                  amount: 3.19
      responses:
        '204':
          description: 'Sales order updated'
        '400':
          description: 'Validation failed'
          schema:
            type: object
            allOf:
              - $ref: '#/definitions/BatchErrors'
    delete:
      x-internal: true
      summary: Delete sales order
      tags:
        - SalesOrder
      description: "[Internal] Deletes sales order if the status is new"
      responses:
        '204':
          description: 'Sales order removed'
  /merchants/{merchantCode}/orders/{orderNumber}/id:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
    get:
      operationId: getSalesOrderId
      summary: Get id of sales order
      description: Get id of sales order
      x-internal: true
      tags:
        - SalesOrder
      responses:
        '200':
          description: 'Return sales order id'
          schema:
            type: object
            properties:
              id:
                type: number
          examples:
            getSalesOrderId:
              id: f0c9d0d1-99ab-44b0-b33c-6e26f0c1bf04
        '404':
          description: Order not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/orders/{orderNumber}/history:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
    get:
      operationId: getSalesOrderHistory
      summary: Get history of sales order
      description: Get history of sales order
      tags:
        - SalesOrder
      parameters:
        - name: filters
          in: query
          type: string
          format: json
          description: Filters as json string to be applied. Available filter is type.
        - in: query
          name: sort
          type: string
          description: Sorting of order history.
      responses:
        '200':
          description: Returns the history
          examples:
            getSalesOrderHistory:
              history:
                - type: orderStatusUpdated
                  id: 468
                  details: string
                  entityId: 0
                  newValue:
                    status: checkedIn
                  oldValue:
                    status: ready
                  createDate: '2021-12-16T16:31:47.118Z'
                  user:
                    name: Max Muster
                    id: 237e228f-c1d0-4bb7-898d-14a5aa1ea955
          schema:
            type: object
            properties:
              history:
                type: array
                items:
                  $ref: '#/definitions/SalesOrderHistoryItem'
        '404':
          description: Sales order not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/orders/{orderNumber}/checkout:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
    post:
      operationId: createSalesOrderCheckout
      summary: Create sales order checkout
      description: Create sales order checkout
      tags:
        - SalesOrder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            additionalProperties: false
            properties:
              campaignAttribution:
                $ref: '#/definitions/CampaignAttribution'
              paymentTransactions:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: edadf6a6-f536-489f-92b8-c15fc1edc19b
                    checkoutParams:
                      type: object
                      description: Params provided by the frontend element of the provider. Can contain sensible data
                      example:
                        paymentIntentId: pi_test_23tz4hrdpgjseroh
              sourceIp:
                $ref: '#/definitions/SourceIP'
              userAgent:
                $ref: '#/definitions/UserAgent'
              domain:
                $ref: '#/definitions/Domain'
              platform:
                $ref: '#/definitions/Platform'
              os:
                $ref: '#/definitions/OS'
          x-examples:
            createSalesOrderCheckout:
              campaignAttribution:
                campaignCode: CMP-1
                channel: push
                distributionIndex: 0
              paymentTransactions:
                - id: edadf6a6-f536-489f-92b8-c15fc1edc19b
                  checkoutParams:
                    paymentIntentId: pi_test_23tz4hrdpgjseroh
              sourceIp: 85.45.62.2
              userAgent: 'Mozilla/5.0 (Android 4.4; Mobile; rv:41.0) Gecko/41.0 Firefox/41.0'
              domain: www.mydomain.com
              platform: engage
              os: ios
      responses:
        '204':
          description: 'Checkout success'
        '404':
          description: Merchant of order not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/orders/{orderNumber}/fulfillmentGroups:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
    post:
      operationId: createSalesOrderFulfillmentGroups
      summary: Create sales order fulfillment groups
      description: Create sales order fulfillment groups
      tags:
        - SalesOrder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            additionalProperties: false
            properties:
              fulfillmentGroups:
                type: array
                items:
                  $ref: '#/definitions/PostFulfillmentGroup'
          x-examples:
            createSalesOrderFulfillmentGroups:
              fulfillmentGroups:
                - fulfillmentMethod: directShip
                  fulfillmentLocationCode: string
                  shipToAddressSequenceIndex: 0
                  fulfillments:
                    - status: open
                      carrier: DHL
                      serviceLevel: sameDay
                      tracking: JJD000390007882823450
                      fulfillmentPackages:
                        - status: open
                          serviceLevel: sameDay
                          package: small
                          fulfilledFromLocationCode: DERetail001
                          weight: 2000
                          weightUnit: g
                          dimensions:
                            length: 25
                            lengthUnit: cm
                            width: 17.5
                            widthUnit: cm
                            height: 10
                            heightUnit: cm
                          tracking: JJD000390007882823450
                          pickUpBy: Kim Muster
                          labelUrl: 'https://documentserver.internal/label/label.pdf'
                          fulfillmentDate: '2021-12-16T16:35:45.833Z'
                          packageItems:
                            - salesOrderLineItemCode: '386'
                              quantity: 1
                          additionalProp1: {}
      responses:
        '201':
          description: 'Fulfillments created'
          schema:
            type: object
            properties:
              ids:
                type: array
                items:
                  type: number
                  example: 100
              errors:
                type: array
                items:
                  $ref: '#/definitions/BatchError'
  /merchants/{merchantCode}/fulfillmentOrders:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    get:
      operationId: getFulfillmentOrders
      summary: Get fulfillment orders
      description: Get fulfillment orders
      tags:
        - FulfillmentOrder
      parameters:
        - in: query
          name: filters
          type: string
          description: "Filter string. Available filter: locationCode, status, orderNumber, externalCode, name, billingName, customerId, salesOrderNumber, submitDate, completeDate, readyDate, pickupReminderApplicableAt, holdUntil, plannedFulfillmentDate, pickupReminderApplicableAt, type, pickingBatchId, statusChangeDate, createDate"
        - name: includeInternalIds
          description: The entity gets extended with the internal ID of Shopgate, this query cannot be used by external clients.
          in: query
          type: boolean
          default: false
        - in: query
          name: fields
          description: "Available fields: fulfillmentOrderAddress, lineItems, fulfillments, salesOrder"
          format: csv
          type: string
        - name: sort
          description: "Sorting of orders. Available fields are: submitDate, scheduledPickupTime, type(ROPIS,BOPIS,directShip)"
          in: query
          type: string
          default: ''
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - name: getOriginalImageUrls
          in: query
          type: boolean
          description: Request original image URLs for LineItem product images.
          default: false
      responses:
        '200':
          description: ''
          examples:
            getFulfillmentOrders:
              fulfillmentOrders:
                - orderNumber: 1293747-0001
                  externalCode: '000000274'
                  posTransactionId: 528a-1
                  cancellationReason: expired
                  heldUntil: '2019-10-05T09:02:57.733Z'
                  pickupReminderApplicableAt: '2019-09-02T09:02:57.733Z'
                  salesOrderNumber: '1293747'
                  locationCode: DERetail001
                  type: directShip
                  customerId: 55c98b8e-1100-497c-8df6-4b4f0353ab2a
                  externalCustomerNumber: C1756793
                  routeType: standardDirectShip
                  expedited: true
                  status: new
                  subTotal: 65.99
                  taxAmount: 12.54
                  tax2Amount: 0
                  total: 65.99
                  shippingTotal: 0
                  localeCode: de-de
                  currencyCode: EUR
                  notes: Some note
                  specialInstructions: House behind the dumpster
                  scheduledPickupTime: '2019-09-03T08:00:00Z'
                  submitDate: '2019-09-02T09:02:57.733Z'
                  acceptDate: '2019-09-02T14:02:57.733Z'
                  readyDate: '2019-09-02T14:03:57.733Z'
                  completeDate: '2019-09-03T15:02:57.733Z'
                  fulfillmentOrderAddress:
                    orderIndex: 0
                    type: pickup
                    firstName: Max
                    middleName: René
                    lastName: Muster
                    company: 'Shopgate GmbH'
                    address1: 12 Somestreet
                    address2: 'Haus B'
                    address3: 'erste Etage'
                    address4: null
                    city: Butzbach
                    region: HE
                    postalCode: '35510'
                    country: DE
                    additionalFields:
                      dhlPostBoxNumber: 12345
                      dhlPostNumber: 1234567890
                    phone: +49 12345 6789 001
                    fax: +49 12345 6789 002
                    mobile: +49 12345 6789 003
                    emailAddress: max.muster@shopgate.com
              meta:
                limit: 100
                offset: 0
                totalItemCount: 1
          schema:
            type: object
            properties:
              fulfillmentOrders:
                type: array
                items:
                  $ref: '#/definitions/SimpleFulfillmentOrder'
              meta:
                $ref: '#/definitions/Pagination'
        '404':
          description: Merchant not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      operationId: createFulfillmentOrders
      summary: Create fulfillment orders
      description: Create fulfillment orders
      tags:
        - FulfillmentOrder
      parameters:
        - in: body
          name: body
          schema:
            type: object
            additionalProperties: false
            required:
              - fulfillmentOrders
            properties:
              fulfillmentOrders:
                type: array
                items:
                  $ref: '#/definitions/PostFulfillmentOrder'
          x-examples:
            createFulfillmentOrders - minimal:
              fulfillmentOrders:
                - salesOrderNumber: '3'
                  locationCode: ST01
                  customerId: 55c98b8e-1100-497c-8df6-4b4f0353ab2a
                  channel:
                    code: USRTL
                  type: directShip
                  routeType: standardDirectShip
                  subTotal: 65.99
                  total: 65.99
                  localeCode: de-de
                  currencyCode: EUR
                  fulfillmentOrderAddress:
                    orderIndex: 0
                    type: shipping
                    firstName: Max
                    lastName: Muster
                    emailAddress: max.muster@shopgate.com
                  fulfillments:
                    - status: open
                      fulfillmentPackages:
                        - packageItems:
                            - salesOrderLineItemCode: someSelfDefinedCode
                              quantity: 1
                  lineItems:
                    - salesOrderLineItemCode: someSelfDefinedCode
                      quantity: 1
                      currencyCode: EUR
                      taxExempt: false
                      salePrice: 65.99
                      price: 79.99
                      extendedPrice: 65.99
                      product:
                        code: 24-MB02
                        name: Fusion Backpack
                        price: 65.99
                        currencyCode: EUR
                        options:
                          - code: color
                            name: Color
                            value:
                              code: red
                              name: Red
                      substitutionAllowed: true
            createFulfillmentOrders:
              fulfillmentOrders:
                - orderNumber: 1293747-0001
                  externalCode: '000000274'
                  salesOrderNumber: '1293747'
                  locationCode: DERetail001
                  customerId: 55c98b8e-1100-497c-8df6-4b4f0353ab2a
                  externalCustomerNumber: C1756793
                  channel:
                    code: USRTL
                  type: directShip
                  routeType: standardDirectShip
                  status: new
                  sequenceId: 0
                  expedited: true
                  subTotal: 65.99
                  taxAmount: 12.54
                  tax2Amount: 0
                  shippingTotal: 0
                  total: 65.99
                  localeCode: de-de
                  currencyCode: EUR
                  notes: Some note
                  specialInstructions: House behind the dumpster
                  fulfillmentOrderAddress:
                    orderIndex: 0
                    type: shipping
                    firstName: Max
                    middleName: René
                    lastName: Muster
                    company: 'Shopgate GmbH'
                    address1: 12 Somestreet
                    address2: 'Haus B'
                    address3: 'erste Etage'
                    address4: null
                    city: Butzbach
                    region: HE
                    postalCode: '35510'
                    country: DE
                    additionalFields:
                      dhlPostBoxNumber: 12345
                      dhlPostNumber: 1234567890
                    phone: +49 12345 6789 001
                    fax: +49 12345 6789 002
                    mobile: +49 12345 6789 003
                    emailAddress: max.muster@shopgate.com
                  fulfillments:
                    - status: open
                      carrier: DHL
                      serviceLevel: sameDay
                      tracking: JJD000390007882823450
                      fulfillmentPackages:
                        - status: open
                          serviceLevel: sameDay
                          package: small
                          fulfilledFromLocationCode: DERetail001
                          weight: 2000
                          weightUnit: g
                          dimensions:
                            length: 25
                            lengthUnit: cm
                            width: 17.5
                            widthUnit: cm
                            height: 10
                            heightUnit: cm
                          tracking: JJD000390007882823450
                          pickUpBy: Kim Muster
                          labelUrl: 'https://documentserver.internal/label/label.pdf'
                          fulfillmentDate: '2021-12-17T08:54:32.582Z'
                          packageItems:
                            - salesOrderLineItemCode: '386'
                              quantity: 1
                  lineItems:
                    - salesOrderLineItemCode: '386'
                      lineItemGroupId: 386-1
                      sku: 1337-hoodie-dark-green
                      quantity: 1
                      status: new
                      currencyCode: EUR
                      price: 79.99
                      salePrice: 65.99
                      shippingAmount: 0
                      unitPromoAmount: 0
                      unitDiscountAmount: 0
                      taxAmount: 12.54
                      tax2Amount: 0
                      taxExempt: false
                      discountAmount: 0
                      promoAmount: 0
                      overrideAmount: 0
                      extendedPrice: 65.99
                      product:
                        code: 24-MB02
                        name: Fusion Backpack
                        image: 'https://myawesomeshop.com/images/img1.jpg'
                        price: 79.99
                        salePrice: 65.99
                        currencyCode: EUR
                        identifiers:
                          mfgPartNum: 100-440-0.750-3434-A
                          upc: '72527273070'
                          ean: '401234567890'
                          isbn: 978-3-16-148410-0
                          sku: UGG-BB-PUR-06
                          distiPartNum: '235454356363'
                        options:
                          - code: color
                            name: Color
                            value:
                              code: dark-green
                              name: Dark Green
                      substitutionAllowed: true
                  fulfillmentSlot:
                    id: 5_2019-09-03
                    date: '2019-09-03'
                    weekday: fri
                    from: '08:00'
                    to: '08:59'
                    status: active
                    orderCount: 10
                  submitDate: '2019-09-02T09:02:57.733Z'
                  acceptDate: '2019-09-02T14:02:57.733Z'
                  readyDate: '2019-09-02T14:03:57.733Z'
                  completeDate: '2019-09-03T15:02:57.733Z'
      responses:
        '201':
          description: ''
          schema:
            type: object
            allOf:
              - $ref: '#/definitions/BatchErrors'
            properties:
              ids:
                type: array
                items:
                  type: string
        '404':
          description: Order not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/fulfillmentOrders/exportCsv:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - in: query
        name: filters
        type: string
        description: "Filter string. Available filter: locationCode, status, orderNumber, externalCode, name, billingName, customerId, salesOrderNumber, submitDate, completeDate, readyDate, pickupReminderApplicableAt, holdUntil, plannedFulfillmentDate, pickupReminderApplicableAt, type, pickingBatchId, statusChangeDate, createDate"
    get:
      operationId: getFulfillmentOrdersExportCsv
      summary: Get fulfillment order csv export
      description: Get fulfillment order csv export
      tags:
        - FulfillmentOrder
      produces:
        - text/csv
      responses:
        200:
          description: Returns a csv with data for the selected report type
          schema:
            type: string
        400:
          description: Export limit exceeded or malformed filters
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/fulfillmentOrders/status:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    post:
      operationId: updateFulfillmentOrdersStatus
      summary: Update fulfillment orders status
      description: Updates multiple fulfillment order statuses
      tags:
        - FulfillmentOrder
      parameters:
        - in: body
          name: body
          schema:
            type: array
            minLength: 1
            items:
              $ref: '#/definitions/PostFulfillmentOrderStatus'
          x-examples:
            - orderNumber: 1-0001
              status: accepted
            - orderNumber: 2-0001
              status: rejected
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/BatchErrors'
        '404':
          description: Merchant not found
  /merchants/{merchantCode}/orders/{orderNumber}/simpleFulfillmentOrders:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
    post:
      operationId: createSimpleFulfillmentOrders
      summary: Create simple fulfillment orders for order
      description: Create simple fulfillment orders for order
      tags:
        - FulfillmentOrder
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - simpleFulfillmentOrders
            properties:
              simpleFulfillmentOrders:
                type: array
                items:
                  $ref: '#/definitions/PostSimplifiedFulfillmentOrder'
          x-examples:
            createSimpleFulfillmentOrders:
              simpleFulfillmentOrders:
                - fulfillmentMethod: 'shipFromStore'
                  fulfillmentLocationCode: 'myLocationCode'
                  lineItems:
                    - salesOrderLineItemCode: 'mySalesOrderLineItemCode'
                      quantity: 1
      responses:
        '200':
          description: ''
          schema:
            type: object
            allOf:
              - $ref: '#/definitions/BatchErrors'
            properties:
              ids:
                type: array
                items:
                  type: string
        '404':
          description: Order not found
        '409':
          description: Requested quantities exceed sales order
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/fulfillmentOrders/{orderNumber}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
      - name: includeInternalIds
        description: The entity gets extended with the internal ID of Shopgate, this query cannot be used by external clients.
        in: query
        type: boolean
        default: false
      - name: fields
        in: query
        description: "Available fields: salesOrder"
        format: csv
        type: string
      - $ref: '#/parameters/OriginalImages'
    get:
      operationId: getFulfillmentOrder
      summary: Get fulfillment order
      description: Get fulfillment order
      tags:
        - FulfillmentOrder
      responses:
        '200':
          description: ''
          examples:
            getFulfillmentOrder:
              fulfillmentOrder:
                orderNumber: 1293747-0001
                externalCode: '000000274'
                posTransactionId: 528a-1
                cancellationReason: expired
                heldUntil: '2019-10-05T09:02:57.733Z'
                pickupReminderApplicableAt: '2019-09-02T09:02:57.733Z'
                salesOrderNumber: '1293747'
                locationCode: DERetail001
                type: directShip
                customerId: 55c98b8e-1100-497c-8df6-4b4f0353ab2a
                externalCustomerNumber: C1756793
                routeType: standardDirectShip
                expedited: true
                status: new
                channel:
                  code: DERTL
                  name: US Retail
                subTotal: 65.99
                taxAmount: 12.54
                tax2Amount: 0
                total: 65.99
                shippingTotal: 0
                localeCode: de-de
                currencyCode: EUR
                notes: Some note
                specialInstructions: House behind the dumpster
                fulfillmentOrderAddress:
                  orderIndex: 0
                  type: pickup
                  firstName: Max
                  middleName: René
                  lastName: Muster
                  company: 'Shopgate GmbH'
                  address1: 12 Somestreet
                  address2: 'Haus B'
                  address3: 'erste Etage'
                  address4: null
                  city: Butzbach
                  region: HE
                  postalCode: '35510'
                  country: DE
                  additionalFields:
                    dhlPostBoxNumber: 12345
                    dhlPostNumber: 1234567890
                  phone: +49 12345 6789 001
                  fax: +49 12345 6789 002
                  mobile: +49 12345 6789 003
                  emailAddress: max.muster@shopgate.com
                fulfillments:
                  - id: 981
                    status: open
                    carrier: DHL
                    serviceLevel: sameDay
                    tracking: JJD000390007882823450
                    createDate: '2021-12-17T09:19:14.290Z'
                    fulfillmentPackages:
                      - id: 694
                        status: open
                        serviceLevel: string
                        fulfilledFromLocationCode: DERetail001
                        weight: 0
                        weightUnit: g
                        dimensions:
                          length: 25
                          lengthUnit: cm
                          width: 17.5
                          widthUnit: cm
                          height: 10
                          heightUnit: cm
                        tracking: JJD000390007882823450
                        pickUpBy: Kim Muster
                        labelUrl: 'https://documentserver.internal/label/label.pdf'
                        returnLabelUrl: 'https://documentserver.internal/label/returnLabel.pdf'
                        fulfillmentDate: '2021-12-17T09:19:14.290Z'
                        packageItems:
                          - salesOrderLineItemCode: '386'
                            quantity: 1
                lineItems:
                  - id: 253
                    lineItemGroupId: 386-1
                    salesOrderLineItemCode: '386'
                    sku: 1337-hoodie-dark-green
                    quantity: 5
                    quantityChangeReason: wrongItem
                    status: new
                    currencyCode: EUR
                    price: 79.99
                    salePrice: 65.99
                    shippingAmount: 0
                    taxAmount: 12.54
                    tax2Amount: 0
                    taxExempt: false
                    unitPromoAmount: 0
                    unitDiscountAmount: 0
                    discountAmount: 0
                    promoAmount: 0
                    overrideAmount: 0
                    extendedPrice: 65.99
                    product:
                      code: 24-MB02
                      name: Fusion Backpack
                      image: 'https://myawesomeshop.com/images/img1.jpg'
                      price: 79.99
                      salePrice: 65.99
                      currencyCode: EUR
                      identifiers:
                        mfgPartNum: 100-440-0.750-3434-A
                        upc: '72527273070'
                        ean: '401234567890'
                        isbn: 978-3-16-148410-0
                        sku: UGG-BB-PUR-06
                        distiPartNum: '235454356363'
                      options:
                        - code: color
                          name: Color
                          value:
                            code: red
                            name: Red
                    substitutionAllowed: true
                fulfillmentSlot:
                  id: 5_2019-09-03
                  date: '2019-09-03'
                  weekday: fri
                  from: '08:00'
                  to: '08:59'
                  status: active
                  orderCount: 10
                submitDate: '2019-09-02T09:02:57.733Z'
                acceptDate: '2019-09-02T14:02:57.733Z'
                readyDate: '2019-09-02T14:03:57.733Z'
                plannedFulfillmentDate: '2019-09-02T14:03:57.733Z'
                completeDate: '2019-09-03T15:02:57.733Z'
                pickingBatchId: 10-0001
          schema:
            type: object
            properties:
              fulfillmentOrder:
                $ref: '#/definitions/FulfillmentOrder'
        '404':
          description: Fulfillment order not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      operationId: updateFulfillmentOrder
      summary: Update fulfillment order
      description: Update fulfillment order
      tags:
        - FulfillmentOrder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            additionalProperties: false
            properties:
              status:
                $ref: '#/definitions/FulfillmentOrderStatus'
              notes:
                $ref: '#/definitions/Notes'
              posTransactionId:
                $ref: '#/definitions/PosTransactionId'
              cancellationReason:
                $ref: '#/definitions/CancellationReason'
              lineItems:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                      description: Line Item id of the item to update. In case of an insert this field is not required
                      example: 10
                    status:
                      $ref: '#/definitions/LineItemStatus'
                    quantity:
                      type: number
                      minimum: 0
                      example: 5
                    quantityChangeReason:
                      $ref: '#/definitions/QuantityChangeReason'
                    product:
                      type: object
                      properties:
                        code:
                          type: string
                          example: 24-MB02
              fulfillmentSlot:
                type: object
                required:
                  - id
                properties:
                  id:
                    type: string
                    description: Id of the fulfillment slot
                    example: "5_2019-09-03"
          x-examples:
            updateFulfillmentOrder:
              status: requested
              notes: Some note
              posTransactionId: 528a-1
              cancellationReason: expired
              lineItems:
                - id: 10
                  status: requested
                  quantity: 5
                  quantityChangeReason: wrongItem
                  product:
                    code: 24-MB02
              fulfillmentSlot:
                id: 5_2019-09-03
      responses:
        '204':
          description: 'Fulfillment order updated'
        '404':
          description: Order not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/fulfillmentOrders/{orderNumber}/id:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
    get:
      operationId: getFulfillmentOrderId
      summary: Get id of fulfillment order
      description: Get id of fulfillment order
      x-internal: true
      tags:
        - FulfillmentOrder
      responses:
        '200':
          description: ''
          examples:
            getFulfillmentOrderId:
              id: 100
          schema:
            type: object
            properties:
              id:
                type: number
        '404':
          description: Fulfillment order not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/fulfillmentOrders/{orderNumber}/fulfillments:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
    post:
      operationId: createFulfillmentsFulfillmentOrder
      summary: Create fulfillments for fulfillment order
      description: |
        ### Creating fulfillments for directShip fulfillmentOrders
        Creating fulfillments for fulfillmentOrders of type **directShip** requires the following fields, although they are not marked as required by the API documentation:
          - serviceLevel
          - carrier
          - package code or package dimensions
          - weight
        Additionally, the fulfillmentOrder address has to contain the following fields:
          - firstName
          - lastName
          - address1
          - city
          - postalCode
          - emailAddress
          - country
      tags:
        - FulfillmentOrder
      parameters:
        - name: createShippingLabels
          in: query
          type: boolean
          default: true
          description: if set to true, one shipping label per fulfillment package will be created at the configured shipping provider(s)
        - name: body
          in: body
          schema:
            type: object
            additionalProperties: false
            required:
              - fulfillments
            properties:
              fulfillments:
                type: array
                items:
                  $ref: '#/definitions/CreateFulfillment'
          x-examples:
            createFulfillmentsFulfillmentOrder:
              fulfillments:
                - status: open
                  carrier: DHL
                  serviceLevel: sameDay
                  tracking: JJD000390007882823450
                  fulfillmentPackages:
                    - status: open
                      serviceLevel: sameDay
                      package: small
                      fulfilledFromLocationCode: DERetail001
                      weight: 2000
                      weightUnit: g
                      dimensions:
                        length: 25
                        lengthUnit: cm
                        width: 17.5
                        widthUnit: cm
                        height: 10
                        heightUnit: cm
                      tracking: JJD000390007882823450
                      pickUpBy: Kim Muster
                      labelUrl: 'https://documentserver.internal/label/label.pdf'
                      fulfillmentDate: '2021-12-17T09:00:31.645Z'
                      packageItems:
                        - salesOrderLineItemCode: '386'
                          quantity: 1
      responses:
        '201':
          description: 'Fulfillment groups created'
          schema:
            type: object
            properties:
              ids:
                type: array
                items:
                  type: number
                  example: 100
              errors:
                type: array
                items:
                  $ref: '#/definitions/BatchError'
        '404':
          description: 'Merchant or fulfillment order not found'
  /merchants/{merchantCode}/fulfillmentOrders/{orderNumber}/fulfillments/{fulfillmentId}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
      - name: fulfillmentId
        description: The ID of the fulfillment
        in: path
        type: string
        required: true
    post:
      operationId: updateFulfillmentsFulfillmentOrder
      summary: Update fulfillments of fulfillment order
      description: Update fulfillments of fulfillment order
      tags:
        - FulfillmentOrder
      parameters:
        - name: body
          in: body
          schema:
            $ref: '#/definitions/UpdateFulfillment'
          x-examples:
            updateFulfillmentsFulfillmentOrder:
              status: open
              carrier: DHL
              serviceLevel: sameDay
              package: small
              tracking: JJD000390007882823450
              fulfillmentPackages:
                - status: open
                  serviceLevel: sameDay
                  package: small
                  fulfilledFromLocationCode: DERetail001
                  weight: 2000
                  weightUnit: g
                  dimensions:
                    length: 25
                    lengthUnit: cm
                    width: 17.5
                    widthUnit: cm
                    height: 10
                    heightUnit: cm
                  tracking: JJD000390007882823450
                  pickUpBy: Kim Muster
                  labelUrl: 'https://documentserver.internal/label/label.pdf'
                  fulfillmentDate: '2021-12-17T09:02:43.483Z'
                  packageItems:
                    - salesOrderLineItemCode: '386'
                      quantity: 1
      responses:
        '204':
          description: 'Fulfillment updated'
        '404':
          description: 'Merchant, fulfillment order or fulfillment not found'
  /merchants/{merchantCode}/fulfillmentOrders/{orderNumber}/history:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
    get:
      operationId: getFulfillmentOrderHistory
      summary: Get history of fulfillment order
      description: Get history of fulfillment order
      tags:
        - FulfillmentOrder
      parameters:
        - name: filters
          in: query
          type: string
          format: json
          description: Filters as json string to be applied. Available filter is type.
        - in: query
          name: sort
          type: string
          description: Sorting of order history.
      responses:
        '200':
          description: Returns the history
          examples:
            getFulfillmentOrderHistory:
              history:
                - type: fulfillmentOrderStatusUpdated
                  id: 468
                  details: string
                  entityId: 0
                  newValue:
                    status: checkedIn
                  oldValue:
                    status: ready
                  createDate: '2021-12-17T09:21:11.039Z'
                  user:
                    name: Max Muster
                    id: 237e228f-c1d0-4bb7-898d-14a5aa1ea955
          schema:
            type: object
            properties:
              history:
                type: array
                items:
                  $ref: '#/definitions/FulfillmentOrderHistoryItem'
        '404':
          description: Fulfillment order not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/fulfillmentOrders/{orderNumber}/lineItems/{lineItemId}/status:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/OrderNumber'
      - name: lineItemId
        description: Unique Line Item IDs to return
        in: path
        type: number
        required: true
    put:
      operationId: updateLineItemStatusFulfillmentOrder
      summary: Update lineItem status of fulfillmentOrder
      description: Update lineItem status of fulfillmentOrder
      tags:
        - FulfillmentOrder
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              status:
                $ref: '#/definitions/LineItemStatus'
          x-examples:
            updateLineItemStatusFulfillmentOrder:
              status: open
      responses:
        '204':
          description: 'Status successfully updated'
        '404':
          description: Order not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/shops/{shopCode}/carts/{cartId}/orders:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - name: shopCode
        description: Represents the unique ID for the "storefront" or "Shop" for a given merchant account
        in: path
        type: string
        required: true
      - name: cartId
        description: Unique Cart ID to return
        in: path
        type: string
        required: true
    post:
      x-internal: true
      tags:
        - SalesOrder
      description: Create sales order by cart id
      operationId: createSalesOrderCartId
      summary: Create sales order by cart id
      responses:
        '200':
          description: Success
          schema:
            type: object
            properties:
              orderNumber:
                type: string
                example: "73"
          examples:
            createSalesOrderCartId:
              orderNumber: '73'
        '404':
          description: Merchant, Shop or Cart not found
        '500':
          description: Server error
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/pickingBatches:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    post:
      description: Create picking batches
      operationId: createPickingBatches
      summary: Create picking batches
      tags:
        - Picking Batch
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            additionalProperties: false
            required:
              - locationCode
              - pickingBatches
            properties:
              locationCode:
                type: string
                example: warehouse
              pickingBatches:
                type: array
                minItems: 1
                items:
                  $ref: '#/definitions/CreatePickingBatch'
          x-examples:
            createPickingBatches:
              locationCode: warehouse
              pickingBatches:
                - fulfillmentOrders:
                    - orderNumber: 10001-0001
      responses:
        '200':
          description: ''
          schema:
            type: object
            allOf:
              - $ref: '#/definitions/BatchErrors'
            properties:
              ids:
                type: array
                items:
                  type: string
        '404':
          description: Merchant or Location not found
    get:
      operationId: getPickingBatches
      summary: Get picking batches
      description: Get picking batches
      tags:
        - Picking Batch
      parameters:
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - in: query
          name: filters
          type: string
          format: json
          description: |
            Filters the result by given filter. Available fields are:
             <ul><li>status</li><li>locationCode</li></ul>
      responses:
        '200':
          description: ''
          examples:
            getPickingBatches:
              pickingBatches:
                - id: a4a93e83-5781-40da-8bff-b87af0452afe
                  status: open
                  startedDate: 2021-09-20T08:13:54.866Z
                  locationCode: warehouse
                  pickedDate: 2021-09-20T09:00:11.866Z
                  completedDate: 2021-09-20T10:32:42.866Z
                  fulfillmentOrders:
                    - orderNumber: 10001-0001
              meta:
                limit: 20
                offset: 0
                totalItemCount: 40
          schema:
            type: object
            properties:
              pickingBatches:
                type: array
                items:
                  $ref: '#/definitions/PickingBatch'
              meta:
                $ref: '#/definitions/Pagination'
        '404':
          description: Merchant not found
  /merchants/{merchantCode}/pickingBatches/generate:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    post:
      description: Generate picking batch
      operationId: generatePickingBatch
      summary: Generate picking batch
      tags:
        - Picking Batch
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            additionalProperties: false
            required:
              - locationCode
              - fulfillmentOrderCount
            properties:
              locationCode:
                type: string
                example: warehouse
              fulfillmentOrderCount:
                type: number
                minimum: 1
                example: 3
          x-examples:
            generatePickingBatch:
              locationCode: "warehouse"
              fulfillmentOrderCount: 3
      responses:
        '200':
          description: 'ID of generated picking batch'
          schema:
            type: object
            properties:
              id:
                type: string
                example: 42
        '404':
          description: Merchant, Location or Fulfillment orders not found
  /merchants/{merchantCode}/pickingBatches/{pickingBatchId}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - in: path
        name: pickingBatchId
        type: string
        required: true
    get:
      operationId: getPickingBatch
      summary: Get picking batch
      description: Get picking batch
      tags:
        - Picking Batch
      parameters:
        - name: getOriginalImageUrls
          in: query
          type: boolean
          description: Request original image URLs for LineItem product images.
          default: false
      responses:
        '200':
          description: 'Return picking batch'
          examples:
            getPickingBatch:
              pickingBatch:
                id: a4a93e83-5781-40da-8bff-b87af0452afe
                status: open
                startedDate: 2021-09-20T08:13:54.866Z
                locationCode: warehouse
                pickedDate: 2021-09-20T09:00:11.866Z
                completedDate: 2021-09-20T10:32:42.866Z
                fulfillmentOrders:
                  - orderNumber: 10001-0001
                lineItems:
                  - id: c8dcf22f-0d0b-49b4-9ed5-0e194f32e1b6
                    pickedQuantity: 3
                    quantity: 5
                    status: open
                    sku: UGG-BB-PUR-06
                    inventories:
                      - bin: 1203
                        binLocation: 1203-4
                    fulfillmentOrderLineItems:
                      - orderNumber: 10001-0001
                        lineItemId: 253
                        quantity: 2
                    product:
                      code: 24-MB02
                      name: Fusion Backpack
                      image: 'https://myawesomeshop.com/images/img1.jpg'
                      price: 79.99
                      salePrice: 65.99
                      currencyCode: EUR
                      identifiers:
                        mfgPartNum: 100-440-0.750-3434-A
                        upc: '72527273070'
                        ean: '401234567890'
                        isbn: 978-3-16-148410-0
                        sku: UGG-BB-PUR-06
                        distiPartNum: '235454356363'
                        options:
                          - code: color
                            name: Color
          schema:
            type: object
            properties:
              pickingBatch:
                $ref: '#/definitions/GetPickingBatch'
        '404':
          description: Merchant or Picking Batch not found
    post:
      description: Update picking batch
      operationId: updatePickingBatch
      summary: Update picking batch
      tags:
        - Picking Batch
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            additionalProperties: false
            required:
              - status
            properties:
              status:
                type: string
                enum:
                  - canceled
                  - picked
          x-examples:
            updatePickingBatch:
              status: canceled
      responses:
        '204':
          description: 'Picking batch updated'
        '404':
          description: Merchant or Picking Batch not found
        '409':
          description: Conflict Error
  /merchants/{merchantCode}/pickingBatches/{pickingBatchId}/lineItems:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - in: path
        name: pickingBatchId
        type: string
        required: true
    post:
      description: Update picking batch line items
      operationId: updatePickingBatchLineItems
      summary: Update picking batch line items
      tags:
        - Picking Batch
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: array
            minItems: 1
            items:
              type: object
              additionalProperties: false
              required:
                - lineItemId
              properties:
                lineItemId:
                  type: string
                  example: 123e4567-e89b-12d3-a456-426655440000
                quantity:
                  type: number
                  minimum: 0
                  example: 3
                pickedQuantity:
                  type: number
                  minimum: 0
                  example: 3
                quantityChangeReason:
                  $ref: '#/definitions/QuantityChangeReason'
          x-examples:
            updatePickingBatchLineItems:
              - lineItemId: 123e4567-e89b-12d3-a456-426655440000
                quantity: 3
                pickedQuantity: 3
      responses:
        '204':
          description: 'Line items updated'
        '400':
          description: Increasing the line item quantity is not possible
        '404':
          description: Merchant, Picking Batch or Line items not found
        '409':
          description: Picking Batch Line items not updatable anymore
  /merchants/{merchantCode}/pickingBatches/{pickingBatchId}/fulfillmentOrders:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - in: path
        name: pickingBatchId
        type: string
        required: true
    delete:
      description: Delete fulfillmentOrder from picking batch
      operationId: deleteFulfillmentOrderPickingBatch
      summary: Delete fulfillmentOrder from picking batch
      tags:
        - Picking Batch
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            additionalProperties: false
            required:
              - fulfillmentOrderNumbers
            properties:
              fulfillmentOrderNumbers:
                type: array
                minItems: 1
                items:
                  type: string
                  example: "10001-0001"
          x-examples:
            deleteFulfillmentOrderPickingBatch:
              fulfillmentOrderNumbers:
                - 10001-0001
      responses:
        '200':
          description: 'Fulfillment order removed from PickingBatch'
          schema:
            type: object
            properties:
              errors:
                type: array
                items:
                  $ref: '#/definitions/BatchError'
        '404':
          description: Merchant or Picking Batch not found
  /merchants/{merchantCode}/batch:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    post:
      x-internal: true
      description: Create Batch
      operationId: createBatch
      summary: Create Batch
      tags:
        - Batch
      parameters:
        - in: body
          name: body
          description: |
            Event batched to be executed. Currently 1 operation (updated) and 1 entity is supported (fulfillmentOrder) </br>
            The payload of the events is the same structure as the single endpoint of the operation of the entity.</br>
            For instance entityUpdated with the entity product expect the same structure as a single fulfillmentOrder entry of the endpoint /v1/merchants/{merchantCode}/fulfillmentOrders/{orderNumber}
          required: true
          schema:
            type: array
            maxItems: 100
            items:
              type: object
              required:
                - event
                - entity
              properties:
                event:
                  type: string
                  enum:
                    - entityUpdated
                entity:
                  type: string
                  enum:
                    - fulfillmentOrder
                entityId:
                  type: string
                  description: Id of the affected entity. Only required if the event is entityUpdated or entityDeleted
                payload:
                  type: object
            example:
              - event: entityUpdated
                entityId: 267-0001
                entity: fulfillmentOrder
                payload:
                  lineItems:
                    - id: 2728270
                      quantity: 8
                      quantityChangeReason: wrongQuantity
      responses:
        200:
          description: OK
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                $ref: '#/definitions/ErrorList'
            example:
              errors:
                - code: 400
                  entity: fulfillmentOrder
                  entityIndex: 0
                  reason: fulfillmentOrder does not pass validation
                  subentityPath: []
                  validationErrors:
                    - code: OBJECT_MISSING_REQUIRED_PROPERTY
                      message: "Missing required property: code"
                      path: ["fulfillmentOrder", "0"]
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant, Shop or Cart not found
  /merchants/{merchantCode}/returnReasons:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    get:
      x-internal: true
      operationId: getReturnReasons
      summary: Get return reasons
      description: Get return reasons
      tags:
        - ReturnReasons
      parameters:
        - name: filters
          in: query
          type: string
          format: json
          description: Filters as json string to be applied. Available filter is status.
        - in: query
          name: locale
          type: string
          default: en-us
          description: "Locale for return reason name. Default: en-us."
      responses:
        '200':
          description: 'Return return reasons'
          schema:
            type: object
            properties:
              returnReasons:
                type: array
                items:
                  $ref: '#/definitions/ReturnReason'
          examples:
            getReturnReasons:
              returnReasons:
                - code: damaged
                  status: active
                  sequenceId: 1
                  name: damaged
    post:
      x-internal: true
      operationId: createReturnReasons
      summary: Create return reasons
      description: Create return reasons
      tags:
        - ReturnReasons
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - returnReasons
            properties:
              returnReasons:
                type: array
                minItems: 1
                items:
                  $ref: '#/definitions/CreateReturnReason'
          x-examples:
            createReturnReasons:
              returnReasons:
                - code: damaged
                  status: active
                  sequenceId: 1
                  name: damaged
      responses:
        '201':
          description: ''
          schema:
            allOf:
              - $ref: '#/definitions/BatchErrors'
        default:
          description: Unexpected error
          schema:
              $ref: '#/definitions/Error'
  /merchants/{merchantCode}/returnReasons/{returnReasonCode}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/ReturnReasonCode'
    post:
      x-internal: true
      operationId: updateReturnReason
      summary: Update return reason
      description: Update return reason
      tags:
        - ReturnReasons
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            additionalProperties: false
            properties:
              status:
                type: string
                enum:
                  - active
                  - inactive
              name:
                $ref: '#/definitions/LocalizationShort'
              sequenceId:
                type: number
                minimum: 0
          x-examples:
            updateReturnReason:
                status: inactive
                name:
                  en-us: 'damaged'
                  de-de: 'beschädigt'
      responses:
[...]
