swagger: '2.0'
info:
  title: Catalog Service
  version: '1.0'
  contact:
    name: Shopgate API
    url: https://shopagte.com
    email: support@shopgate.com
  description: |
    Check out the [Catalog Integration Guide](/docs/retail-red/ZG9jOjM1NjU0Nzcw-integration-overview) or start with [creating a product](/docs/retail-red/b3A6MzU2NTUwNDQ-create-products).
host: catalog.shopgate.io
schemes:
  - https
basePath: /v1
produces:
  - application/json
consumes:
  - application/json
paths:
  /merchants/{merchantCode}/parentCatalogs:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    post:
      tags:
        - ParentCatalogs
      operationId: createParentCatalogs
      summary: Create new parent catalogs
      description: Create new parent catalogs
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - parentCatalogs
            properties:
              parentCatalogs:
                type: array
                minItems: 1
                items:
                  $ref: '#/definitions/ParentCatalogCreate'
          x-examples:
            createParentCatalogs:
              parentCatalogs:
                - code: parentCatalog1
                  defaultCurrencyCode: USD
                  defaultLocaleCode: en-us
                  isDefault: true
                  name: Parent Catalog 1
      responses:
        200:
          description: Parent catalogs created
          schema:
            $ref: '#/definitions/AdditionResponse'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/catalogs:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    get:
      tags: ['Catalogs']
      operationId: getCatalogs
      summary: Get catalogs
      description: Get catalogs
      parameters:
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationOffset'
      responses:
        200:
          description: Returns catalogs
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/Pagination'
              catalogs:
                type: array
                items:
                  $ref: '#/definitions/CatalogBase'
          examples:
            getCatalogs:
              meta:
                limit: 10
                offset: 0
                totalItemCount: 1
              catalogs:
                - code: defaultCatalog
                  name: Default Catalog
                  defaultLocaleCode: en-us
                  defaultCurrencyCode: USD
                  externalUpdateDate: "2018-12-15T00:00:23.114Z"
                  parentCatalogCode: parentCatalog1
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
    post:
      tags: ['Catalogs']
      operationId: createCatalogs
      summary: Create catalogs
      description: Create catalogs
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - catalogs
            properties:
              catalogs:
                type: array
                minItems: 1
                items:
                  $ref: '#/definitions/CatalogCreate'
          x-examples:
            createCatalogs:
              catalogs:
                - code: defaultCatalog
                  name: Default Catalog
                  defaultLocaleCode: en-us
                  defaultCurrencyCode: USD
                  externalUpdateDate: "2018-12-15T00:00:23.114Z"
                  parentCatalogCode: parentCatalog1
                  isDefault: true
      responses:
        200:
          description: Successfully created catalogs
          schema:
            $ref: '#/definitions/AdditionResponse'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/catalogs/{catalogCode}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/CatalogCodeInPath'
    get:
      tags: ['Catalogs']
      operationId: getCatalog
      summary: Get catalog
      description: Get catalog
      responses:
        200:
          description: Returns catalog
          schema:
            type: object
            properties:
              catalog:
                $ref: '#/definitions/CatalogBase'
          examples:
            getCatalog:
              code: defaultCatalog
              name: Default Catalog
              defaultLocaleCode: en-us
              defaultCurrencyCode: USD
              externalUpdateDate: "2018-12-15T00:00:23.114Z"
              parentCatalogCode: parentCatalog1
              isDefault: true
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
    post:
      tags: ['Catalogs']
      operationId: updateCatalog
      summary: Update catalog
      description: Update catalog
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CatalogUpdate'
          x-examples:
            updateCatalog:
              name: Default Catalog
              defaultLocaleCode: de-de
              defaultCurrencyCode: EUR
              externalUpdateDate: "2018-12-15T00:00:23.114Z"
              parentCatalogCode: parentCatalog1
              isDefault: false
      responses:
        204:
          description: Successfully updated catalog
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
        409:
          description: One or more properties of catalog cannot be updated
          schema:
            $ref: '#/definitions/ExtendedError'
    delete:
      tags: ['Catalogs']
      operationId: deleteCatalog
      summary: Delete catalog
      description: Delete catalog
      parameters:
        - $ref: '#/parameters/Force'
      responses:
        204:
          description: Sucessfully deleted catalog
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/attributes:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    get:
      tags:
        - Attributes
      parameters:
        - in: query
          name: filters
          description: "Filter string. Supported filters: code, name"
          format: json
          type: string
        - $ref: '#/parameters/Sort'
        - $ref: '#/parameters/LocaleCode'
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationOffset'
      operationId: getAttributes
      summary: Get attributes
      description: Get all attributes
      responses:
        200:
          description: Attribute information
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/Pagination'
              attributes:
                type: array
                items:
                  $ref: '#/definitions/Attribute'
          examples:
            # TODO: get Examples for other attribute Types!!!!
            getAttributes:
              meta:
                limit: 10
                offset: 0
                totalItemCount: 1
              attributes:
                - code: color
                  type: text
                  use: option
                  name: Color
                  externalUpdateDate: "2018-12-15T00:00:23.114Z"
                  values:
                    - code: black
                      sequenceId: 1
                      name: Black
                      swatch:
                        type: color
                        value: "#000000"
                    - code: white
                      sequenceId: 1
                      name: White
                      swatch:
                        type: color
                        value: "#ffffff"
                - code: engraving
                  name: Engraving
                  type: input
                  use: extra
                - code: related
                  name: Related Products
                  type: productList
                  use: property
                  values:
                    - sequenceId: 1
                      name: The Jeans Pack.
                      code: pack1
                      value:
                        - jeans
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
    post:
      tags:
        - Attributes
      operationId: createAttributes
      summary: Create attributes
      description: |
        Add new attributes.

        **Localizations**

        The following properties are localized:
        - name
        - values[].name

        see [Entity Localization](/docs/retail-red/ZG9jOjM1NjU0NzY4-concepts-and-entities#entity-localization) for further information.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - attributes
            properties:
              attributes:
                type: array
                minItems: 1
                items:
                  $ref: '#/definitions/AttributeCreate'
          x-examples:
            # TODO: get Examples for other attribute Types!!!!
            AttributeCreate:
              attributes:
                - code: color
                  externalUpdateDate: '2018-12-15T00:00:23.114Z'
                  name:
                    de-de: Farbe
                    en-us: Color
                  type: text
                  use: option
                  values:
                    - code: black
                      sequenceId: 1
                      name:
                        en-us: Black
                        de-de: Schwarz
                      swatch:
                        type: color
                        value: "#000000"
                    - code: white
                      sequenceId: 2
                      name:
                        en-us: White
                        de-de: Weiß
                      swatch:
                        type: color
                        value: "#ffffff"
                - code: engraving
                  name:
                    de-de: Gravierung
                    en-us: Engraving
                  type: input
                  use: extra
                - code: related
                  name:
                    de-de: Verwandte Produkte
                    en-us: Related Products
                  type: productList
                  use: property
                  values:
                  - sequenceId: 1
                    name:
                      de-de: Das Jeans Packet.
                      en-us: The Jeans Pack.
                    code: pack1
                    value:
                    - jeans
      responses:
        200:
          description: All attributes were created
          schema:
            $ref: '#/definitions/AdditionResponse'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/attributes/{attributeCode}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/AttributeCode'
    get:
      tags:
        - Attributes
      parameters:
        - $ref: '#/parameters/LocaleCode'
      operationId: getAttribute
      summary: Get attribute
      description: Get attribute information
      responses:
        200:
          description: Attribute information
          schema:
            type: object
            properties:
              attribute:
                $ref: '#/definitions/Attribute'
          examples:
            getAttribute:
              code: color
              type: text
              use: option
              name: Color
              externalUpdateDate: "2018-12-15T00:00:23.114Z"
              values:
                - code: black
                  sequenceId: 1
                  name: Black
                  swatch:
                    type: color
                    value: "#000000"
                - code: white
                  sequenceId: 2
                  name: White
                  swatch:
                    type: color
                    value: "#ffffff"
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant or attribute not found
          schema:
            $ref: '#/definitions/NotFoundError'
    post:
      tags:
        - Attributes
      operationId: updateAttribute
      summary: Update attribute
      description: |
        Update an attribute.

        **Localizations**

        The following properties are localized:
        - name
        - values[].name

        see [Entity Localization](/docs/retail-red/ZG9jOjM1NjU0NzY4-concepts-and-entities#entity-localization) for further information.

        **Preserving attribute values**

        To preserve an existing attribute value pass its "code" property only.

        Example to remove all values except "green" from an attribute:

        ```json
        {
          "values": [
            { "code": "green" }
          ]
        }
        ```
      parameters:
        - $ref: '#/parameters/LocaleCode'
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AttributeUpdate'
          x-examples:
            updateAttribute:
              externalUpdateDate: '2018-12-15T00:00:23.114Z'
              name:
                de-de: Farbe
                en-us: Color
              type: text
              use: option
              values:
                - code: black
                  sequenceId: 1
                  name:
                    en-us: Black
                    de-de: Schwarz
                  swatch:
                    type: color
                    value: "#000000"
                - code: white
                  sequenceId: 2
                  name:
                    en-us: White
                    de-de: Weiß
                  swatch:
                    type: color
                    value: "#ffffff"
      responses:
        200:
          description: Successfully updated
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                $ref: '#/definitions/ErrorList'
            example:
              errors:
                - code: 409
                  entity: attributeValue
                  entityId: "black"
                  entityIndex: 0
                  reason: Attribute value is still in use by some products
                  subentityPath: [
                    values
                  ]
                  productCodes: [
                    1234567
                  ]
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant or attribute not found
          schema:
            $ref: '#/definitions/NotFoundError'
        409:
          description: One or more attribute values are used for products and cannot be replaced
          schema:
            $ref: '#/definitions/ExtendedError'
    delete:
      tags:
        - Attributes
      operationId: deleteAttribute
      summary: Delete attribute
      description: Delete an attribute with all its values
      responses:
        204:
          description: Successfully deleted
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant or attribute not found
          schema:
            $ref: '#/definitions/NotFoundError'
        409:
          description: Attribute is used for a product option or an extra
          schema:
            $ref: '#/definitions/ExtendedError'
  /merchants/{merchantCode}/attributes/{attributeCode}/values:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/AttributeCode'
    post:
      tags:
        - Attributes
      operationId: setAttributeValues
      summary: Set attribute values
      description: |
        Set values on an attribute.

        **Localizations**

        The following properties are localized:
        - name

        see [Entity Localization](/docs/retail-red/ZG9jOjM1NjU0NzY4-concepts-and-entities#entity-localization) for further information.
      parameters:
        - in: body
          name: body
          schema:
            type: object
            required:
              - values
            properties:
              values:
                type: array
                minItems: 1
                items:
                  $ref: '#/definitions/AttributeValueCreate'
          x-examples:
            setAttributeValues - rewrite:
              values:
                - code: green
                  name:
                    de-de: Grün
                    en-us: Green
                  sequenceId: 1
                  swatch:
                    type: color
                    value: "#00AA00"
            setAttributeValues - append:
                - code: black
                  sequenceId: 1
                  name:
                    en-us: Black
                    de-de: Schwarz
                  swatch:
                    type: color
                    value: "#000000"
                - code: white
                  sequenceId: 2
                  name:
                    en-us: White
                    de-de: Weiß
                  swatch:
                    type: color
                    value: "#ffffff"
                - code: green
                  name:
                    de-de: Grün
                    en-us: Green
                  sequenceId: 3
                  swatch:
                    type: color
                    value: "#00AA00"
      responses:
        201:
          description: Successfully created
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant or attribute not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/attributes/{attributeCode}/values/{attributeValueCode}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/AttributeCode'
      - $ref: '#/parameters/AttributeValueCode'
    post:
      tags:
        - Attributes
      operationId: updateAttributeValue
      summary: Update attribute value
      description: Update attribute value
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AttributeValueUpdate'
          x-examples:
            updateAttributeValue:
              name:
                de-de: Krasses Grün
                en-us: Super Green
              sequenceId: 3
              swatch:
                type: color
                value: "#00FF00"
      responses:
        204:
          description: Successfully updated
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant or attribute value not found
          schema:
            $ref: '#/definitions/NotFoundError'
    delete:
      tags:
        - Attributes
      operationId: deleteAttributeValue
      summary: Delete attribute value
      description: Delete attribute value
      responses:
        204:
          description: Successfully deleted
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Attribute not found
          schema:
            $ref: '#/definitions/NotFoundError'
        409:
          description: Value is used for product option or extra
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/categories:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    get:
      operationId: getCategories
      summary: Get categories
      description: Get categories
      tags:
        - Categories
      parameters:
        - in: query
          name: filters
          description: "Filter string. Supported filters: name, code, parentCategoryCode, status"
          type: string
          format: json
        - $ref: '#/parameters/Fields'
        - $ref: '#/parameters/LocaleCode'
        - $ref: '#/parameters/CatalogCode'
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationOffset'
        - $ref: '#/parameters/OriginalImages'
      responses:
        200:
          description: Returns categories.
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/Pagination'
              categories:
                type: array
                items:
                  $ref: '#/definitions/Category'
          examples:
            getCategories:
              meta:
                limit: 10
                offset: 0
                totalItemCount: 3
              categories:
                - catalogCode: defaultCatalog
                  code: clothes
                  description: This category contains clothing for clothes
                  externalUpdateDate: '2019-01-12T00:00:00.114Z'
                  image: null
                  name: Clothes
                  parentCategoryCode: null
                  path: []
                  sequenceId: 0
                  status: active
                  url: https://awesomeShop.com/c/clothes
                - catalogCode: defaultCatalog
                  code: men
                  description: This category contains clothing for men
                  externalUpdateDate: '2019-01-12T00:00:00.114Z'
                  image: null
                  name: Men
                  parentCategoryCode: clothes
                  path:
                    - clothes
                  sequenceId: 0
                  status: active
                  url: https://awesomeShop.com/c/men
                - catalogCode: defaultCatalog
                  code: jeans
                  description: This category contains jeans
                  externalUpdateDate: '2019-01-12T00:00:00.114Z'
                  image: https://awesomeShop.com/img/jeans1.jpg
                  name: Jeans
                  parentCategoryCode: men
                  path:
                    - clothes
                    - men
                  sequenceId: 0
                  status: active
                  url: https://awesomeShop.com/c/jeans
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
    post:
      operationId: createCategories
      summary: Create categories
      description: |
        Create new categories.

        **Localizations**

        The following properties are localized:
        - name
        - image
        - url
        - description

        see [Entity Localization](/docs/retail-red/ZG9jOjM1NjU0NzY4-concepts-and-entities#entity-localization) for further information.
      tags:
        - Categories
      parameters:
        - $ref: '#/parameters/CatalogCode'
        - in: body
          name: body
          schema:
            type: object
            required:
              - categories
            properties:
              categories:
                type: array
                minItems: 1
                items:
                  $ref: '#/definitions/CategoryCreate'
          x-examples:
            createCategories:
              categories:
                - code: wornOutJeans
                  description:
                    de-de: Diese Kategorie enthält ausgewaschene Jeans
                    en-us: This category contains worn out jeans
                  externalUpdateDate: '2018-12-15T00:00:23.114Z'
                  image:
                    de-de: http://someUrl/deutschesBild.png
                    en-us: http://someUrl/englishImage.png
                  name:
                    de-de: Ausgewaschene Jeans
                    en-us: Worn out Jeans
                  parentCategoryCode: jeans
                  sequenceId: 1
                  status: active
                  url:
                    de-de: https://awesomeShop.de/c/jeans
                    en-us: https://awesomeShop.com/c/jeans
                - code: jeans
                  name:
                    en-us: Jeans
                    de-de: Jeans
                  sequenceId: 1
                  parentCategoryCode: men
                - code: men
                  name:
                    en-us: Men
                    de-de: Männer
                  sequenceId: 1
                  parentCategoryCode: clothes
                - code: clothes
                  name:
                    en-us: Clothes
                    de-de: Klamotten
                  sequenceId: 1
                  parentCategoryCode:
      responses:
        200:
          description: Successfully created
          schema:
            $ref: '#/definitions/AdditionResponse'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/categories/{categoryCode}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/CategoryCode'
    post:
      operationId: updateCategory
      summary: Update category
      description: |
        Update category.

        **Localizations**

        The following properties are localized:
        - name
        - image
        - url
        - description

        see [Entity Localization](/docs/retail-red/ZG9jOjM1NjU0NzY4-concepts-and-entities#entity-localization) for further information.
      tags:
        - Categories
      parameters:
        - $ref: '#/parameters/CatalogCode'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CategoryUpdate'
          x-examples:
            updateCategory:
              description:
                de-de: Diese Kategorie enthält ausgewaschene Jeans
                en-us: This category contains worn out jeans
              externalUpdateDate: '2018-12-15T00:00:23.114Z'
              image:
                de-de: http://someUrl/deutschesBild.png
                en-us: http://someUrl/englishImage.png
              name:
                de-de: Ausgewaschene Jeans
                en-us: Crazy worn out jeans
              parentCategoryCode: jeans
              sequenceId: 1
              status: active
              url:
                de-de: https://awesomeShop.de/c/jeans2
                en-us: https://awesomeShop.com/c/jeans2
      responses:
        204:
          description: Successfully updated
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant or category not found
          schema:
            $ref: '#/definitions/Error'
        409:
          description: External update date is earlier than the existing one
          schema:
            $ref: '#/definitions/Error'
    delete:
      parameters:
        - $ref: '#/parameters/CatalogCode'
        - $ref: '#/parameters/Force'
      operationId: deleteCategory
      summary: Delete category
      description: Delete category
      tags:
        - Categories
      responses:
        204:
          description: Successfully deleted
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant or category not found
          schema:
            $ref: '#/definitions/Error'
        409:
          description: Category has associated products. Use the force parameter to force removal of category and product associations.
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/exportCsv:
    post:
      operationId: exportCsv
      summary: Export entities as csv
      description: Export entities as csv
      tags:
        - Exports
      parameters:
        - $ref: '#/parameters/MerchantCode'
        - $ref: '#/parameters/CatalogCode'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CsvExportOptions'
          x-examples:
            exportCsv:
              delimiter: ","
              enclosure: "\""
              entity: product
              escape: "\""
              withHeader: true
      responses:
        '202':
          description: Export request accepted.
        '400':
          description: Bad request (mostly missing or invalid parameters/values)
          schema:
            $ref: '#/definitions/ValidationError'
        '404':
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/exportToGoogle:
    post:
      operationId: exportToGoogle
      summary: Export entities to Google
      description: Exports entities to Google
      tags:
        - Exports
      parameters:
        - $ref: '#/parameters/MerchantCode'
        - $ref: '#/parameters/CatalogCode'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GoogleExportOptions'
          x-examples:
            exportToGoogle:
              feed: product
      responses:
        '202':
          description: Export request accepted.
        '400':
          description: Bad request (mostly missing or invalid parameters/values)
          schema:
            $ref: '#/definitions/ValidationError'
        '404':
          description: Merchant or Credentials not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/exports:
    get:
      operationId: getExports
      summary: Get exports
      description: Returns a list of Google exports
      tags:
        - Exports
      parameters:
        - $ref: '#/parameters/MerchantCode'
        - $ref: '#/parameters/CatalogCode'
        - in: query
          name: filters
          description: "Filter string. Supported filters:
          <ul>
            <li>id</li>
            <li>feed</li>
            <li>status</li>
          </ul>"
          type: string
          format: json
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationOffset'
        - $ref: '#/parameters/Sort'
      responses:
        '200':
          description: Export created.
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/Pagination'
              exports:
                type: array
                items:
                  allOf:
                    - $ref: '#/definitions/GoogleExport'
          examples:
            getExports:
              meta:
                limit: 10
                offset: 0
                totalItemCount: 2
              exports:
                - endDate: '2018-12-15T00:00:26.114Z'
                  entityCount: 74327
                  errorMessage: null
                  feed: product
                  startDate: '2018-12-15T00:00:25.114Z'
                  status: succeded
                - endDate: '2018-12-15T00:00:24.114Z'
                  entityCount: 10
                  errorMessage: Upload failed
                  feed: product
                  startDate: '2018-12-15T00:00:23.114Z'
                  status: failed
        '400':
          description: Bad request (mostly missing or invalid parameters/values)
          schema:
            $ref: '#/definitions/ValidationError'
        '404':
          description: Merchant or segment not found
    post:
      x-internal: true
      operationId: createExport
      summary: Create export
      description: Creates an google export feed
      tags:
        - Exports
      parameters:
        - $ref: '#/parameters/MerchantCode'
        - $ref: '#/parameters/CatalogCode'
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - feed
            properties:
              feed:
                $ref: '#/definitions/GoogleExportFeed'
          # x-examples:
          #   createExport:
          #     feed:
          #       $ref: '#/definitions/GoogleExportFeed/example'
      responses:
        '201':
          description: Export created.
          schema:
            type: object
            properties:
              id:
                type: number
                example: 1235434
          # examples:
          #   createExport:
          #     id: 1235434
        '400':
          description: Bad request (mostly missing or invalid parameters/values)
          schema:
            $ref: '#/definitions/ValidationError'
        '404':
          description: Merchant or segment not found
  /merchants/{merchantCode}/exports/{exportId}:
    post:
      x-internal: true
      operationId: updateExport
      summary: Update export
      description: Updates an google export entity
      tags:
        - Exports
      parameters:
        - $ref: '#/parameters/MerchantCode'
        - $ref: '#/parameters/CatalogCode'
        - $ref: '#/parameters/ExportId'
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              entityCount:
                type: number
                example: 623473
              status:
                $ref: '#/definitions/GoogleExportStatus'
              errorMessage:
                type:
                  - "null"
                  - string
                example: Upload failed
          # x-examples:
          #   updateExport:
          #     entityCount: 623473
          #     status:
          #       $ref: '#/definitions/GoogleExportStatus/example'
          #     errorMessage: Upload failed
      responses:
        '204':
          description: Export updated.
        '400':
          description: Bad request (mostly missing or invalid parameters/values)
          schema:
            $ref: '#/definitions/ValidationError'
        '404':
          description: Merchant or segment not found
        '409':
          description: Conflict while updating
          schema:
            $ref: '#/definitions/Error'
  /merchants/{merchantCode}/products:
    get:
      operationId: getProducts
      summary: Get products
      description: Get products
      tags:
        - Products
      parameters:
        - in: query
          name: filters
          description: "Filter string. Supported filters:
          <ul>
            <li>name</li>
            <li>code</li>
            <li>parentProductCode</li>
            <li>locationCode</li>
            <li>mfgPartNum</li>
            <li>distiPartNum</li>
            <li>upc</li>
            <li>ean</li>
            <li>isbn</li>
            <li>sku</li>
            <li>modelType</li>
            <li>categoryCode</li>
            <li>status</li>
            <li>startDate</li>
            <li>endDate</li>
            <li>updateDate</li>
            <li>externalUpdateDate</li>
            <li>isInventoryManaged</li>
          </ul>"
          type: string
          format: json
        - $ref: '#/parameters/CurrencyCode'
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationOffset'
        - $ref: '#/parameters/PaginationAfter'
        - $ref: '#/parameters/Fields'
        - $ref: '#/parameters/Sort'
        - $ref: '#/parameters/LocaleCode'
        - $ref: '#/parameters/MerchantCode'
        - $ref: '#/parameters/CatalogCode'
        - in: query
          name: ignoreTotalItemCount
          type: boolean
          description: private query param which prevents the route function to get totalItemCount
          default: false
        - in: query
          name: showOnlyAvailableProducts
          type: boolean
          description: Show only product which are
          default: false
        - $ref: '#/parameters/OriginalImages'
      responses:
        200:
          description: Returns all matching products
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/PaginationCursorOrOffset'
              products:
                type: array
                items:
                  allOf:
                    - $ref: '#/definitions/Product'
                    - type: object
                      properties:
                        inventories:
                          type: array
                          items:
                            $ref: '#/definitions/Inventory'
                        options:
                          $ref: '#/definitions/ProductOptions'
                        extras:
                          $ref: '#/definitions/ProductExtras'
                        availability:
                          type: object
                          description: only visible if fields include availability and showOnlyAvailableProducts is true, this can't be set on the post routes
                          properties:
                            isAvailable:
                              type: boolean
                              description: Indicates if this product is available (computed field)
          examples:
            getProducts:
              meta:
                limit: 10
                cursors:
                  after: 1b
                totalItemCount: 2
              products:
                - categories:
                  - categoryName: Jeans
                    code: jeans
                    isPrimary: true
                    path:
                      - clothes
                      - men
                      - jeans
                    sequenceId: 1
                  code: jeans
                  endDate: '2040-12-01T00:00:00.114Z'
                  eolDate: '2040-12-01T00:00:00.114Z'
                  externalUpdateDate: '2018-12-15T00:00:23.114Z'
                  extras: []
                  firstAvailableDate: '2018-12-01T00:00:00.114Z'
                  fulfillmentMethods:
                    - BOPIS
                  hasCatchWeight: true
                  identifiers:
                    distiPartNum: M102938475
                    ean: xxx11
                    isbn: 123xy
                    mfgPartNum: 123ab
                    sku: 98712c
                    upc: cde45
                  inventoryTreatment: showOutOfStock
                  isInventoryManaged: true
                  isSerialized: true
                  isTaxed: true
                  longName: The Jeans. Just Jeans.
                  maxQty: 5
                  media:
                  - altText: Image of the jeans
                    code: jeansyImage
                    sequenceId: 1
                    title: The Jeans
                    type: image
                    url: https://awesomeShop.com/image01.jpg
                  minQty: 2
                  modelType: standard
                  name: The Jeans
                  operationalStatus: active
                  options:
                    - code: color
                      name: Color
                      type: Text
                      values:
                        - code: white
                          name: White
                          additionalPrice: 0
                          sequenceId: 1
                          swatch:
                            type: color
                            value: "#ffffff"
                        - code: black
                          name: Black
                          additionalPrice: 0
                          sequenceId: 1
                          swatch:
                            type: color
                            value: "#000000"
                  parentProductCode: null
                  price:
                    cost: 5
                    currencyCode: USD
                    mapPricing:
                    - endDate: '2018-12-15T00:00:23.114Z'
                      price: 12
                      startDate: '2018-12-12T14:27:23.114Z'
                    maxPrice: 8
                    minPrice: 12
                    msrp: 10
                    price: 10
                    salePrice: 9
                    unit: kg
                    volumePricing:
                    - maxQty: 20
                      minQty: 8
                      price: 7
                      priceType: fixed
                      salePrice: 7
                      unit: kg
                  properties:
                  - code: material
                    displayGroup: properties
                    name: Material
                    subDisplayGroup: Info
                    type: simple
                    value: [ "Wool", "Polyester", "Nylon" ]
                  rating: 5
                  shippingInformation:
                    height: 4
                    heightUnit: cm
                    isShippedAlone: true
                    length: 30
                    lengthUnit: cm
                    weight: 40
                    weightUnit: kg
                    width: 2.3
                    widthUnit: cm
                  startDate: '2018-12-01T00:00:00.114Z'
                  status: active
                  taxClass: f8c5c2e9-5671-4870-8557-7659832e0e20
                  unit: each
                  unitPriceRefUom: each
                  unitPriceRefValue: null
                  unitValue: null
                  url: https://awesomeShop.com/theJeans
                  visibility: visible
                - categories:
                  - categoryName: Jeans
                    code: jeans
                    isPrimary: true
                    path:
                      - clothes
                      - men
                      - jeans
                    sequenceId: 1
                  code: jeans-1
                  endDate: '2040-12-01T00:00:00.114Z'
                  eolDate: '2040-12-01T00:00:00.114Z'
                  externalUpdateDate: '2018-12-15T00:00:23.114Z'
                  extras: []
                  firstAvailableDate: '2018-12-01T00:00:00.114Z'
                  fulfillmentMethods:
                    - BOPIS
                  hasCatchWeight: true
                  identifiers:
                    distiPartNum: M1029384756
                    ean: xxx111
                    isbn: 123xyz
                    mfgPartNum: 123abc
                    sku: 987123b
                    upc: cde456
                  inventoryTreatment: showOutOfStock
                  isInventoryManaged: true
                  isSerialized: true
                  isTaxed: true
                  longName: The Jeans. Just Jeans.
                  maxQty: 5
                  media:
                  - altText: Image of the jeans
                    code: jeansyImage
                    sequenceId: 1
                    title: The Jeans
                    type: image
                    url: https://awesomeShop.com/image01.jpg
                  minQty: 2
                  modelType: standard
                  name: The Jeans
                  operationalStatus: active
                  options:
                    - code: color
                      name: Color
                      type: Text
                      values:
                        - code: white
                          name: White
                          additionalPrice: 0
                          sequenceId: 1
                          swatch:
                            type: color
                            value: "#ffffff"
                  parentProductCode: jeans
                  price:
                    cost: 5
                    currencyCode: USD
                    mapPricing:
                    - endDate: '2018-12-15T00:00:23.114Z'
                      price: 12
                      startDate: '2018-12-12T14:27:23.114Z'
                    maxPrice: null
                    minPrice: null
                    msrp: 10
                    price: 10
                    salePrice: 9
                    unit: kg
                    volumePricing:
                    - maxQty: 20
                      minQty: 8
                      price: 7
                      priceType: fixed
                      salePrice: 7
                      unit: kg
                  properties:
                  - code: material
                    displayGroup: properties
                    name: Material
                    subDisplayGroup: Info
                    type: simple
                    value: [ "Wool", "Polyester", "Nylon" ]
                  - code: color
                    type: attribute
                    value:
                    - White
                    displayGroup: properties
                    subDisplayGroup: Appearance
                    name: Color
                  rating: 5
                  shippingInformation:
                    height: 4
                    heightUnit: cm
                    isShippedAlone: true
                    length: 30
                    lengthUnit: cm
                    weight: 40
                    weightUnit: kg
                    width: 2.3
                    widthUnit: cm
                  startDate: '2018-12-01T00:00:00.114Z'
                  status: active
                  taxClass: f8c5c2e9-5671-4870-8557-7659832e0e20
                  unit: each
                  unitPriceRefUom: each
                  unitPriceRefValue: null
                  unitValue: null
                  url: https://awesomeShop.com/theJeans
                  visibility: visible
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        403:
          description: Forbidden
          schema:
            $ref: '#/definitions/Error'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
    post:
      operationId: createProducts
      summary: Create products
      description: |
        Create products.

        **Localizations**

        The following properties are localized:
        - name
        - longName
        - shortDescription
        - longDescription
        - media
        - properties[].name (not if property of type attribute)
        - properties[].subDisplayGroup

        see [Entity Localization](/docs/retail-red/ZG9jOjM1NjU0NzY4-concepts-and-entities#entity-localization) for further information.

        The media localization property different to the simple localization string:
        ```json
        {
          "en-us": [{
            "code": "gdt5-c",
            "url": "https://myAwesomeShop.com/image01.jpg",
            "type": "image",
            "altText": "a translated string",
            "title": "a translated string",
            "sequenceId": 1
          }],
          "de-de": [{
            "code": "gdt5-g",
            "url": "https://www.youtube.com/watch?v=aTKyjuhmZNo",
            "type": "video",
            "altText": "ein übersetzter Text",
            "title": "ein übersetzter Text",
            "sequenceId": 1
          }]
        }
        ```

        **Product Properties**

        See [Product Properties](/docs/retail-red/ZG9jOjM1NjU0NzY4-concepts-and-entities#product-properties) on how to use the value property based on the property.type.

        > **Note** Be sure to create Categories (jeans, men, clothes) and Attributes (color -> white) before the execution the example. Otherwise the request will result in an error.

      tags:
        - Products
      parameters:
        - $ref: '#/parameters/MerchantCode'
        - $ref: '#/parameters/CatalogCode'
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - products
            properties:
              products:
                type: array
                minItems: 1
                items:
                  $ref: '#/definitions/ProductCreate'
          # TODO: full, minimal, parent child (minimal)
          x-examples:
            createProducts:
              products:
                - categories:
                  - code: jeans
                    isPrimary: true
                    sequenceId: 1
                  code: jeans
                  endDate: '2040-12-01T00:00:00.114Z'
                  eolDate: '2040-12-01T00:00:00.114Z'
                  externalUpdateDate: '2018-12-15T00:00:23.114Z'
                  extras: []
                  firstAvailableDate: '2018-12-01T00:00:00.114Z'
                  fulfillmentMethods:
                    - BOPIS
                  hasCatchWeight: true
                  identifiers:
                    distiPartNum: M102938475
                    ean: xxx11
                    isbn: 123xy
                    mfgPartNum: 123ab
                    sku: 98712c
                    upc: cde45
                  inventoryTreatment: showOutOfStock
                  isInventoryManaged: true
                  isSerialized: true
                  isTaxed: true
                  longDescription:
                    en-us: Very long description.
                    de-de: Sehr lange Beschreibung.
                  longName:
                    en-us: The Jeans. Just Jeans.
                    de-de: Die Jeans. Nur Jeans.
                  maxQty: 5
                  media:
                    en-us:
                      - altText: Image of the jeans
                        code: jeansyImage
                        sequenceId: 1
                        title: The Jeans
                        type: image
                        url: https://awesomeShop.com/image01.jpg
                    de-de:
                      - altText: Bild der Hose
                        code: jeansyImageDE
                        sequenceId: 1
                        title: Die Jeans
                        type: image
                        url: https://awesomeShop.com/image01.jpg
                  minQty: 2
                  modelType: configurable
                  name:
                    en-us: The Jeans
                    de-de: Die Jeans
                  options:
                    - code: color
                      values:
                        - code: white
                          additionalPrice: 0
                        - code: black
                          additionalPrice: 0
                  parentProductCode: null
                  price:
                    cost: 5
                    currencyCode: USD
                    mapPricing:
                    - endDate: '2018-12-15T00:00:23.114Z'
                      price: 12
                      startDate: '2018-12-12T14:27:23.114Z'
                    msrp: 10
                    price: 10
                    salePrice: 9
                    unit: kg
                    volumePricing:
                    - maxQty: 20
                      minQty: 8
                      price: 7
                      priceType: fixed
                      salePrice: 7
                      unit: kg
                  properties:
                    - code: material
                      displayGroup: properties
                      name:
                        en-us: Material
                        de-de: Material
                      subDisplayGroup:
                        en-us: Info
                        de-de: Info
                      type: simple
                      value:
                        en-us: [ "Wool", "Polyester", "Nylon" ]
                        de-de: [ "Wolle", "Polyester", "Nylon" ]
                  rating: 5
                  shippingInformation:
                    height: 4
                    heightUnit: cm
                    isShippedAlone: true
                    length: 30
                    lengthUnit: cm
                    weight: 40
                    weightUnit: kg
                    width: 2.3
                    widthUnit: cm
                  shortDescription:
                    en-us: Short Description.
                    de-de: Kurze Beschreibung.
                  startDate: '2018-12-01T00:00:00.114Z'
                  status: active
                  taxClass: f8c5c2e9-5671-4870-8557-7659832e0e20
                  unit: each
                  unitPriceRefUom: each
                  unitPriceRefValue: 1
                  unitValue: 1
                  url: https://awesomeShop.com/theJeans
                  visibility: visible
                - categories:
                  - code: jeans
                    isPrimary: true
                    sequenceId: 1
                  code: jeans-1
                  endDate: '2040-12-01T00:00:00.114Z'
                  eolDate: '2040-12-01T00:00:00.114Z'
                  externalUpdateDate: '2018-12-15T00:00:23.114Z'
                  extras: []
                  firstAvailableDate: '2018-12-01T00:00:00.114Z'
                  fulfillmentMethods:
                    - BOPIS
                  hasCatchWeight: true
                  identifiers:
                    distiPartNum: M1029384756
                    ean: xxx111
                    isbn: 123xyz
                    mfgPartNum: 123abc
                    sku: 987123b
                    upc: cde456
                  inventoryTreatment: showOutOfStock
                  isInventoryManaged: true
                  isSerialized: true
                  isTaxed: true
                  longDescription:
                    en-us: Very long description.
                    de-de: Sehr lange Beschreibung.
                  longName:
                    en-us: The Jeans. Just Jeans.
                    de-de: Die Jeans. Nur Jeans.
                  maxQty: 5
                  media:
                    en-us:
                      - altText: Image of the jeans
                        code: jeansyImage
                        sequenceId: 1
                        title: The Jeans
                        type: image
                        url: https://awesomeShop.com/image01.jpg
                    de-de:
                      - altText: Bild der Hose
                        code: jeansyImageDE
                        sequenceId: 1
                        title: Die Jeans
                        type: image
                        url: https://awesomeShop.com/image01.jpg
                  minQty: 2
                  modelType: variant
                  name:
                    en-us: The Jeans
                    de-de: Die Jeans
                  options:
                    - code: color
                      values:
                        - code: white
                          additionalPrice: 0
                  parentProductCode: jeans
                  price:
                    cost: 5
                    currencyCode: USD
                    mapPricing:
                    - endDate: '2018-12-15T00:00:23.114Z'
                      price: 12
                      startDate: '2018-12-12T14:27:23.114Z'
                    msrp: 10
                    price: 10
                    salePrice: 9
                    unit: kg
                    volumePricing:
                    - maxQty: 20
                      minQty: 8
                      price: 7
                      priceType: fixed
                      salePrice: 7
                      unit: kg
                  properties:
                  - code: material
                    displayGroup: properties
                    name:
                      en-us: Material
                      de-de: Material
                    subDisplayGroup:
                      en-us: Info
                      de-de: Info
                    type: simple
                    value:
                      en-us: [ "Wool", "Polyester", "Nylon" ]
                      de-de: [ "Wolle", "Polyester", "Nylon" ]
                  - code: 'color'
                    value:
                      - white
                    type: attribute
                    displayGroup: properties
                    subDisplayGroup:
                      en-us: 'Appearance'
                      de-de: 'Aussehen'
                  rating: 5
                  shippingInformation:
                    height: 4
                    heightUnit: cm
                    isShippedAlone: true
                    length: 30
                    lengthUnit: cm
                    weight: 40
                    weightUnit: kg
                    width: 2.3
                    widthUnit: cm
                  shortDescription:
                    en-us: Short description.
                    de-de: Kurze Beschreibung.
                  startDate: '2018-12-01T00:00:00.114Z'
                  status: active
                  taxClass: f8c5c2e9-5671-4870-8557-7659832e0e20
                  unit: each
                  unitPriceRefUom: each
                  unitPriceRefValue: 1
                  unitValue: 1
                  url: https://awesomeShop.com/theJeans
                  visibility: visible
            createProducts - minimal:
              products:
                - code: minimalProduct
                  isInventoryManaged: true
                  modelType: standard
                  name:
                   en-us: 'Minimal Product'
                   de-de: 'Minimales Produkt'
      responses:
        200:
          description: Successfully created
          schema:
            $ref: '#/definitions/AdditionResponse'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/batchCodeCompare:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/CatalogCode'
    post:
      x-internal: true
      operationId: batchCodeCompare
      description: Private. Batch compares entities for import
      summary: Batch compare
      tags:
        - Batch
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              locationCodes:
                type: array
                items:
                  type: string
                  maxLength: 255
              productCodes:
                type: array
                items:
                  type: string
                  maxLength: 255
              categoryCodes:
                type: array
                items:
                  type: string
                  maxLength: 255
              inventories:
                type: array
                items:
                  $ref: '#/definitions/InventoryCompare'
      responses:
        200:
          description: OK
          schema:
            type: object
            properties:
              productCodes:
                type: array
                items:
                  type: string
              categoryCodes:
                type: array
                items:
                  type: string
              inventories:
                type: array
                items:
                  $ref: '#/definitions/InventoryCompare'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/batch:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    post:
      x-internal: true
      operationId: batch
      summary: Batch
      description: Private. Batch operations of entities
      tags:
        - Batch
      parameters:
        - in: body
          name: body
          description: |
            Event batched to be executed. Currently 3 operations (created, updated, deleted) and 3 entities are supported (category, product, inventory) </br>
            The payload of the events is the same structure as the single endpoint of the operation of the entity.</br>
            For instance entityCreated with the entity product expect the same structure as a single product entry of the endpoint /v1/merchants/{merchantCode}/products
          required: true
          schema:
            type: array
            items:
              type: object
              required:
                - event
                - entity
              properties:
                event:
                  type: string
                  enum:
                    - entityCreated
                    - entityUpdated
                    - entityDeleted
                entity:
                  type: string
                  enum:
                    - product
                    - category
                    - inventory
                entityId:
                  type: string
                  description: Id of the affected entity. Only reequired if the event is entityUpdated or entityDeleted
                payload:
                  type: object
            example:
              - event: entityDeleted
                entityId: 24-MB01
                entity: product
              - event: entityUpdated
                entityId: cat1
                entity: category
                payload:
                  name:
                    'en-us': New category name
              - event: entityCreated
                entityId: cat1
                entity: product
                payload:
                  code: prod1
                  name:
                    'en-us': Awesome new product
                  modelType: 'standard'
                  isInventoryManaged: false
                  price:
                    price: 9.99
                    currencyCode: USD
      responses:
        200:
          description: OK
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                $ref: '#/definitions/ErrorList'
            example:
              errors:
                - code: 400
                  entity: product
                  entityIndex: 0
                  reason: Product does not pass validation
                  subentityPath: []
                  validationErrors:
                    - code: OBJECT_MISSING_REQUIRED_PROPERTY
                      message: "Missing required property: code"
                      path: ["products", "0"]
                - code: 409
                  entity: product
                  entityId: "1234567"
                  entityIndex: 1
                  reason: Product 1234567 already exists
                  subentityPath: []

        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/products/{productCode}:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/ProductCode'
    get:
      tags:
        - Products
      operationId: getProduct
      summary: Get product
      description: Get a single product
      parameters:
        - $ref: '#/parameters/Fields'
        - $ref: '#/parameters/OriginalImages'
        - $ref: '#/parameters/LocaleCode'
        - $ref: '#/parameters/CatalogCode'
      responses:
        200:
          description: Returns the product
          schema:
            type: object
            properties:
              product:
                allOf:
                  - $ref: '#/definitions/Product'
                  - type: object
                    properties:
                      inventories:
                        type: array
                        items:
                          $ref: '#/definitions/Inventory'
                      options:
                        $ref: '#/definitions/ProductOptions'
                      extras:
                        $ref: '#/definitions/ProductExtras'
                      operationalStatus:
                        type: string
                        enum:
                          - active
                          - inactive
                          - scheduled
                          - expired
          examples:
            getProduct:
              product:
                categories:
                - categoryName: Jeans
                  code: jeans
                  isPrimary: true
                  path:
                    - clothes
                    - men
                    - jeans
                  sequenceId: 1
                code: jeans
                endDate: '2040-12-01T00:00:00.114Z'
                eolDate: '2040-12-01T00:00:00.114Z'
                externalUpdateDate: '2018-12-15T00:00:23.114Z'
                extras: []
                firstAvailableDate: '2018-12-01T00:00:00.114Z'
                fulfillmentMethods:
                  - BOPIS
                hasCatchWeight: true
                identifiers:
                  distiPartNum: M102938475
                  ean: xxx11
                  isbn: 123xy
                  mfgPartNum: 123ab
                  sku: 98712c
                  upc: cde45
                inventoryTreatment: showOutOfStock
                isInventoryManaged: true
                isSerialized: true
                isTaxed: true
                longName: The Jeans. Just Jeans.
                maxQty: 5
                media:
                - altText: Image of the jeans
                  code: jeansyImage
                  sequenceId: 1
                  title: The Jeans
                  type: image
                  url: https://awesomeShop.com/image01.jpg
                minQty: 2
                modelType: standard
                name: The Jeans
                operationalStatus: active
                options:
                  - code: color
                    name: Color
                    type: Text
                    values:
                      - code: white
                        name: White
                        additionalPrice: 0
                        sequenceId: 1
                        swatch:
                          type: color
                          value: "#ffffff"
                      - code: black
                        name: Black
                        additionalPrice: 0
                        sequenceId: 1
                        swatch:
                          type: color
                          value: "#000000"
                parentProductCode: null
                price:
                  cost: 5
                  currencyCode: USD
                  mapPricing:
                  - endDate: '2018-12-15T00:00:23.114Z'
                    price: 12
                    startDate: '2018-12-12T14:27:23.114Z'
                  maxPrice: 8
                  minPrice: 12
                  msrp: 10
                  price: 10
                  salePrice: 9
                  unit: kg
                  volumePricing:
                  - maxQty: 20
                    minQty: 8
                    price: 7
                    priceType: fixed
                    salePrice: 7
                    unit: kg
                properties:
                - code: material
                  displayGroup: properties
                  name: Material
                  subDisplayGroup: Info
                  type: simple
                  value: [ "Wool", "Polyester", "Nylon" ]
                rating: 5
                shippingInformation:
                  height: 4
                  heightUnit: cm
                  isShippedAlone: true
                  length: 30
                  lengthUnit: cm
                  weight: 40
                  weightUnit: kg
                  width: 2.3
                  widthUnit: cm
                startDate: '2018-12-01T00:00:00.114Z'
                status: active
                taxClass: f8c5c2e9-5671-4870-8557-7659832e0e20
                unit: each
                unitPriceRefUom: each
                unitPriceRefValue: null
                unitValue: null
                url: https://awesomeShop.com/theJeans
                visibility: visible
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant or product not found
          schema:
            $ref: '#/definitions/NotFoundError'
    post:
      tags:
        - Products
      operationId: updateProduct
      summary: Update product
      description: |
        Update the specific product. Only the values which are set will be updated.

        **Localizations**

        The following properties are localized:
        - name
        - longName
        - shortDescription
        - longDescription
        - media
        - properties[].name
        - properties[].subDisplayGroup

        see [Entity Localization](/docs/retail-red/ZG9jOjM1NjU0NzY4-concepts-and-entities#entity-localization) for further information.

        The media localization property is a little different to the simple localization string:
        ```json
        {
          "en-us": [{
            "code": "gdt5-c",
            "url": "https://myAwesomeShop.com/image01.jpg",
            "type": "image",
            "altText": "a translated string",
            "title": "a translated string",
            "sequenceId": 1
          }],
          "de-de": [{
            "code": "gdt5-g",
            "url": "https://www.youtube.com/watch?v=aTKyjuhmZNo",
            "type": "video",
            "altText": "ein übersetzter Text",
            "title": "ein übersetzter Text",
            "sequenceId": 1
          }]
        }
        ```

        **Product Properties**

        See [Product Properties](/docs/retail-red/ZG9jOjM1NjU0NzY4-concepts-and-entities#product-properties) on how to use the value property based on the property.type.
      parameters:
        - $ref: '#/parameters/CatalogCode'
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ProductUpdate'
          x-examples:
            updateProduct:
              categories:
                - code: jeans
                  isPrimary: true
                  sequenceId: 1
              endDate: '2040-12-01T00:00:00.114Z'
              eolDate: '2040-12-01T00:00:00.114Z'
              externalUpdateDate: '2018-12-15T00:00:23.114Z'
              extras: []
              firstAvailableDate: '2018-12-01T00:00:00.114Z'
              fulfillmentMethods:
                - BOPIS
              hasCatchWeight: true
              identifiers:
                distiPartNum: M1029384756
                ean: xxx111
                isbn: 123xyz
                mfgPartNum: 123abc
                sku: 987123b
                upc: cde456
              inventoryTreatment: showOutOfStock
              isInventoryManaged: true
              isSerialized: true
              isTaxed: true
              longDescription:
                en-us: Very long description.
                de-de: Sehr lange Beschreibung.
              longName:
                en-us: The Jeans. Just Jeans.
                de-de: Die Jeans. Nur Jeans.
              maxQty: 5
              media:
              - altText: Image of the jeans
                code: jeansyImage
                sequenceId: 1
                title: The Jeans
                type: image
                url: https://awesomeShop.com/image01.jpg
              minQty: 2
              modelType: standard
              name:
                en-us: The Jeans
                de-de: Die Jeans
              options:
                - code: color
                  values:
                    - code: white
                      additionalPrice: 0
              parentProductCode: jeans
              price:
                cost: 5
                currencyCode: USD
                mapPricing:
                - endDate: '2018-12-15T00:00:23.114Z'
                  price: 12
                  startDate: '2018-12-12T14:27:23.114Z'
                maxPrice: null
                minPrice: null
                msrp: 10
                price: 10
                salePrice: 9
                unit: kg
                volumePricing:
                - maxQty: 20
                  minQty: 8
                  price: 7
                  priceType: fixed
                  salePrice: 7
                  unit: kg
              properties:
              - code: material
                displayGroup: properties
                name:
                  en-us: Material
                  de-de: Material
                subDisplayGroup:
                  en-us: Info
                  de-de: Info
                type: simple
                value:
                  en-us: [ "Wool", "Polyester", "Nylon" ]
                  de-de: [ "Wolle", "Polyester", "Nylon" ]
              rating: 5
              shippingInformation:
                height: 4
                heightUnit: cm
                isShippedAlone: true
                length: 30
                lengthUnit: cm
                weight: 40
                weightUnit: kg
                width: 2.3
                widthUnit: cm
              shortDescription:
                en-us: Short description.
                de-de: Kurze Beschreibung.
              startDate: '2018-12-01T00:00:00.114Z'
              status: active
              taxClass: f8c5c2e9-5671-4870-8557-7659832e0e20
              unit: each
              unitPriceRefUom: each
              unitPriceRefValue: null
              unitValue: null
              url: https://awesomeShop.com/theJeans
              visibility: visible
      responses:
        204:
          description: Successfully updated
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant or product not found
          schema:
            $ref: '#/definitions/NotFoundError'
    delete:
      operationId: deleteProduct
      summary: Delete product
      description: Delete product
      tags:
        - Products
      parameters:
        - $ref: '#/parameters/CatalogCode'
      responses:
        204:
          description: Successfully deleted
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant or product not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/products/{productCode}/descriptions:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/ProductCode'
    get:
      operationId: getProductDescriptions
      summary: Get product descriptions
      description: Get product descriptions
      tags:
        - Products
      parameters:
        - $ref: '#/parameters/LocaleCode'
      responses:
        200:
          description: Return the descriptions of the product
          schema:
            type: object
            properties:
              shortDescription:
                type: string
              longDescription:
                type: string
          examples:
            getProductDescriptions:
              shortDescription: text
              longDescription: long text
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/products/{productCode}/validate:
    parameters:
      - $ref: '#/parameters/MerchantCode'
      - $ref: '#/parameters/ProductCode'
    post:
      tags:
        - Products
      operationId: validateVariant
      summary: Validate variant
      description: Validates the selected options and returns possible options or the matching variant
      parameters:
        - $ref: '#/parameters/LocationCode'
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - selectedOptions
            properties:
              selectedOptions:
                type: array
                items:
                  type: object
                  required:
                    - code
                    - valueCode
                  properties:
                    code:
                      $ref: '#/definitions/AttributeCode'
                    valueCode:
                      $ref: '#/definitions/AttributeValueCode'
          x-examples:
            validateVariant:
              selectedOptions:
                - code: color
                  valueCode: white
      responses:
        200:
          description: Return the possible options or matching variants
          schema:
            type: object
            properties:
              possibleOptions:
                $ref: '#/definitions/ProductOptions'
              matchingVariant:
                type: object
                properties:
                  productCode:
                    type: string
                    example: MH02-S-Black
                  isPurchasable:
                    type: boolean
          examples:
            validateVariant - One option selected:
              possibleOptions:
                - code: color
                  name: Color
                  values:
                    - code: white
                      name: White
                      sequenceId: 1
                    - code: black
                      name: Black
                      sequenceId: 2
            validateVariant - Matching variant:
              matchingVariant:
                productCode: jeans-1
                isPurchasable: true
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant or product not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/inventories:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    get:
      tags:
        - Inventories
      operationId: getInventories
      summary: Get inventories
      description: Get inventories for merchant
      parameters:
        - in: query
          name: filters
          description: |
            Filter string. Supported filters:
            <ul>
              <li>productCode</li>
              <li>locationCode</li>
              <li>sku</li>
              <li>status</li>
              <li>product.name</li>
              <li>product.identifiers.ean</li>
              <li>product.identifiers.upc</li>
              <li>product.identifiers.sku</li>
              <li>product.identifiers.isbn</li>
              <li>product.identifiers.mfgPartNum</li>
              <li>product.identifiers.distiPartNum</li>
            </ul>
          format: json
          type: string
        - $ref: '#/parameters/MerchantCode'
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationOffset'
        - $ref: '#/parameters/PaginationAfter'
        - $ref: '#/parameters/OmitTotalItemCount'
        - $ref: '#/parameters/Sort'
        - in: query
          name: fields
          type: string
          format: csv
          description: |
            Fields which should be included in the response. This field is optional. If the field is not set the default fields will be shown:
            Supported values: qty, identifier
      responses:
        200:
          description: Returns inventories
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/PaginationCursorOrOffset'
              inventories:
                type: array
                items:
                  $ref: '#/definitions/Inventory'
          examples:
            getInventories:
              meta:
                cursors:
                  after: 16471
                limit: 10
                offset: 0
                totalItemCount: 1
              inventories:
                - available: 95
                  onHand: 100
                  onReserve: 5
                  safetyStock: 10
                  visible: 85
                  status: active
                  externalUpdateDate: '2018-12-15T00:00:23.114Z'
                  bin: '1203'
                  binLocation: 1203-4
                  locationCode: DERetail1
                  productCode: jeans-1
                  inventoryTreatmentSetting:
                    code: its1
                    name: testName
                    isPurchasable: true
                  sku: 54nf444
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
    post:
      tags:
        - Inventories
      operationId: setInventories
      summary: Set inventories
      description: |
        Set inventory for multiple products

        > **Note**: The location has to be set up first.
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - inventories
            properties:
              inventories:
                type: array
                items:
                  $ref: '#/definitions/InventoryPost'
          x-examples:
            application/json:
              inventories:
                - bin: '1203'
                  binLocation: 1203-4
                  externalUpdateDate: '2018-12-15T00:00:23.114Z'
                  locationCode: DERetail1
                  inventoryTreatmentSetting:
                    code: its1
                  onHand: 4
                  productCode: jeans-1
                  safetyStock: 1
                  sku: 54nf444
                  status: active
      responses:
        200:
          description: Successfully set
          schema:
            $ref: '#/definitions/AdditionResponse'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant, location or product not found
          schema:
            $ref: '#/definitions/NotFoundError'
    patch:
      tags:
        - Inventories
      operationId: incrementDecrementInventory
      summary: Increment / decrement inventory
      description: |
        Apply operations such as increment or decrement to the inventory of multiple products

        > **Note**: The location has to be set up first.
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - inventories
            properties:
              inventories:
                type: array
                items:
                  type: object
                  required:
                    - productCode
                    - locationCode
                    - sku
                    - operationType
                  properties:
                    productCode:
                      type: string
                      maxLength: 255
                      example: productCode1
                    locationCode:
                      $ref: '#/definitions/LocationCode'
                    inventoryTreatmentSetting:
                      $ref: '#/definitions/InventoryTreatmentSettingUpdate'
                    sku:
                      type:
                        - "null"
                        - string
                      example: SKU-1
                      maxLength: 255
                    bin:
                      $ref: '#/definitions/Bin'
                    binLocation:
                      $ref: '#/definitions/BinLocation'
                    operationType:
                      type: string
                      enum:
                        - increment
                        - decrement
                    onHand:
                      type: number
                      example: 10
          x-examples:
            incrementDecrementInventory:
              inventories:
              - bin: '1203'
                binLocation: 1203-4
                locationCode: DERetail1
                onHand: 10
                operationType: increment
                productCode: jeans-1
                inventoryTreatmentSetting:
                  code: its1
                sku: SKU-1
      responses:
        200:
          description: Successfully updated
          schema:
            $ref: '#/definitions/AdditionResponse'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant, location or inventory not found
          schema:
            $ref: '#/definitions/NotFoundError'
    delete:
      tags:
        - Inventories
      operationId: deleteInventories
      summary: Delete inventories
      description: |
        Delete inventories

        > **Note**: The location has to be set up first.
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - inventories
            properties:
              inventories:
                type: array
                minItems: 1
                items:
                  type: object
                  required:
                    - productCode
                    - locationCode
                    - sku
                  properties:
                    productCode:
                      type: string
                      example: productCode1
                      maxLength: 255
                    locationCode:
                      $ref: '#/definitions/LocationCode'
                      maxLength: 255
                    sku:
                      type:
                        - "null"
                        - string
                      example: SKU-1
                      maxLength: 255
                    bin:
                      $ref: '#/definitions/Bin'
                    binLocation:
                      $ref: '#/definitions/BinLocation'
      responses:
        200:
          description: Successfully deleted
          schema:
            $ref: '#/definitions/AdditionResponse'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant, location or inventory not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/locationInventories:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    get:
      tags:
        - Inventories
      operationId: getLocationInventories
      summary: Get location inventories
      description: |
        Get location inventories for merchant

        > **Note**: The location has to be set up first.
      parameters:
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationAfter'
        - $ref: '#/parameters/LocaleCode'
        - in: query
          name: filters
          type: string
          description: "Filter string. Supported filters: productCode, locationCode, product.modelType, product.name, product.identifiers.ean, product.identifiers.upc, product.identifiers.sku, product.identifiers.isbn, product.identifiers.mfgPartNum, product.identifiers.distiPartNum"
      responses:
        200:
          description: Returns inventories
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/PaginationCursor'
              locationInventories:
                type: array
                items:
                  $ref: '#/definitions/LocationInventoryExtended'
          examples:
            getLocationInventories:
              meta:
                limit: 100
                cursors:
                  after: 542ae3145
                totalItemCount: 2876
              inventories:
                - productCode: jeans1
                  locationCode: loc1
                  inventoryTreatmentSetting:
                    code: its1
                    name: testName
                    isPurchasable: false
                  onHand: 300
                  onReserve: 50
                  available: 250
                  safetyStock: 50
                  visible: 200
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
    post:
      x-internal: true
      tags:
        - Inventories
      operationId: getLocationInventoriesBatch
      summary: Get location inventories (Batch)
      description: |
        Get location inventories for merchant

        > **Note**: The location has to be set up first.
      parameters:
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationAfter'
        - in: query
          name: filters
          type: string
          description: "Filter string. Supported filters: productCode"
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - excludedLocationIds
            properties:
              excludedLocationIds:
                type: array
                items:
                  type: string
                  example: 550e8400-e29b-11d4-a716-446655440000
      responses:
        200:
          description: Returns inventories
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/PaginationCursor'
              locationInventories:
                type: array
                items:
                  $ref: '#/definitions/LocationInventory'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
    delete:
      x-internal: true
      tags:
        - Inventories
      operationId: deleteLocationInventories
      summary: Delete location inventories
      description: |
        Delete location inventories for merchant

        > **Note**: The location has to be set up first.
      parameters:
        - $ref: '#/parameters/MerchantCode'
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - locationCodes
            properties:
              locationCodes:
                type: array
                items:
                  type: string
                  example: 550e8400-e29b-11d4-a716-446655440000
      responses:
        200:
          description: Successfully deleted
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/reservations:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    get:
      tags:
        - Inventories
      operationId: getReservations
      summary: Get reservations
      description: Get reservations for merchant
      parameters:
        - in: query
          name: filters
          description: "Filter string. Supported filters: code, locationCode, productCode, sku, salesOrderNumber, fulfillmentOrderNumber"
          type: string
          format: json
        - $ref: '#/parameters/MerchantCode'
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationOffset'
        - $ref: '#/parameters/Sort'
      responses:
        200:
          description: Returns reservations
          schema:
            type: object
            properties:
              meta:
                $ref: '#/definitions/Pagination'
              reservations:
                type: array
                items:
                  $ref: '#/definitions/Reservation'
          examples:
            getReservations:
              meta:
                limit: 10
                offset: 0
                totalItemCount: 1
              reservations:
                - bin: '1203'
                  binLocation: 1203-4
                  fulfillmentOrderLineItemId: 1
                  fulfillmentOrderNumber: someCode
                  locationCode: DERetail1
                  productCode: someCode
                  quantity: 1
                  salesOrderLineItemCode: someCode
                  salesOrderNumber: someCode
                  sku: SKU-1
                  createDate: "2018-12-15T00:00:23.114Z"
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant not found
          schema:
            $ref: '#/definitions/NotFoundError'
    post:
      tags:
        - Inventories
      operationId: reserveInventory
      summary: Reserve inventory
      description: |
        Reserve inventory for multiple products

        > **Note**: The location has to be set up first.
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - reservations
            properties:
              reservations:
                type: array
                items:
                  $ref: '#/definitions/ReservationCreate'
          x-examples:
            reserverInventory:
              reservations:
                - bin: '1203'
                  binLocation: 1203-4
                  fulfillmentOrderLineItemId: 1
                  fulfillmentOrderNumber: someCode
                  locationCode: DERetail1
                  productCode: jeans-1
                  quantity: 1
                  salesOrderLineItemCode: someCode
                  salesOrderNumber: someCode
                  sku: SKU-1
                - bin: null
                  binLocation: null
                  locationCode: DERetail1
                  productCode: jeans-1
                  quantity: 1
                  salesOrderLineItemCode: someCode
                  salesOrderNumber: someCode
                  sku: null
      responses:
        200:
          description: Successfully created
          schema:
            type: object
            properties:
              codes:
                type: array
                items:
                  type: string
              errors:
                $ref: '#/definitions/ErrorList'
          examples:
            reserverInventory:
              codes:
              - someCode
              errors:
              - catalogCode: catalog1
                code: 400
                entity: planet
                entityId: pluto
                entityIndex: 9
                reason: Planet pluto was not found (did you mean dwarf planet pluto?)
                subentityPath:
                - sunSystem
                - bodies
                validationErrors:
                - code: MAX_LENGTH
                  description: Property Name is too long
                  message: Name too long
                  path:
                  - name
              - catalogCode: catalog1
                code: 400
                entity: planet
                entityId: jupiter
                entityIndex: 5
                reason: The planet is too big
                subentityPath:
                - sunSystem
                - bodies
                validationErrors:
                - code: MAX_LENGTH
                  description: Property Name is too long
                  message: Name too long
                  path:
                  - name
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant, location or inventory not found
          schema:
            $ref: '#/definitions/NotFoundError'
        409:
          description: Reservation already exists
          schema:
            $ref: '#/definitions/Error'
    delete:
      tags:
        - Inventories
      operationId: deleteInventoryReservations
      summary: Delete inventory reservations
      description: Delete inventory reservations for products of fulfillmentOrders.
      parameters:
        - in: body
          name: body
          required: true
          schema:
            type: object
            required:
              - codes
            properties:
              codes:
                type: array
                minItems: 1
                items:
                  type: string
      responses:
        200:
          description: Successfully deleted
          schema:
            $ref: '#/definitions/AdditionResponse'
        400:
          description: Validation error
          schema:
            $ref: '#/definitions/ValidationError'
        404:
          description: Merchant, location or inventory reservation not found
          schema:
            $ref: '#/definitions/NotFoundError'
  /merchants/{merchantCode}/reservations/settle:
    parameters:
      - $ref: '#/parameters/MerchantCode'
    post:
      tags:
        - Inventories
      operationId: settleReservations
      summary: Settle reservations
      description:
        Settle all reservations for a fulfillment order, i.e. the reservations are deleted and the actual inventory is
        modified accordingly.
      parameters:
        - in: body
          name: body
[...]
